<section class="searchbar">
	<div class="row columns">

		{{#unless reduced}}
			<h1 class="searchbar__strap">Search our collection</h1>
			<label for="searchbox__search" class="searchbar__placeholder-for-small hide-for-medium">Search objects, people, categories, object numbers etc.</label>
			<div class="searchbox" id="searchbox" data-toggler="searchbox--focussed">
				<input type="search" class="searchbox__search" placeholder="Search objects, people, categories, object numbers etc." data-toggle-focus="searchbox">
				<button aria-label="search" class="searchbox__submit">
					{{> icon i="search" size="32" }}
				</button>
				<div class="searchbox__filters">

					<div class="filterbadge" data-filter="Category">
						<div class="filterbadge__label">Category</div>
						<a class="filterbadge__x" title="remove">✕</a>
					</div>

					<div class="filterbadge" data-filter="Maker">
						<div class="filterbadge__label">Maker</div>
						<a class="filterbadge__x" title="remove">✕</a>
					</div>

				</div>
			</div>

			<nav class="searchtabs">
				<a class="searchtab searchtab--active">
					{{> icon i="all" }}
					<span class="searchtab__label">All</span>
					<span class="searchtab__count">1234</span>
				</a>
				<a class="searchtab" href="#">
					{{> icon i="person" }}
					<span class="searchtab__label">People</span>
					<span class="searchtab__count">1234</span>
				</a>
				<a class="searchtab" href="#">
					{{> icon i="object" }}
					<span class="searchtab__label">Objects</span>
					<span class="searchtab__count">99</span>
				</a>
				<a class="searchtab" href="#">
					{{> icon i="archivedoc" }}
					<span class="searchtab__label">Documents</span>
					<span class="searchtab__count">5678</span>
				</a>
			</nav>
		{{/unless}}

		{{#if home}}
			<h1 class="searchbar__strap">Search our collection</h1>
		{{/if}}

		{{#if reduced}}
			<div class="searchbox" id="searchbox" data-toggler="searchbox--focussed">
				<input type="search" class="searchbox__search" placeholder="Search objects, people, categories, object numbers etc." data-toggle-focus="searchbox">
				<button aria-label="search" class="searchbox__submit">
					{{> icon i="search" size="32" }}
				</button>
			</div>
		{{/if}}

	</div>
</section>
