// Mostly generic text styling that could be repurposed, if needed to.
// Generally we'd use `o-textstyles` to wrap this kind of content, but the base type sizes are too far from what we are doing here...

.c-about {

  & > * + * {
    margin-top: 1rem !important;
  }

  h1 {
    font-size: 3rem;
    line-height: 1;
    margin: 0;
  }

  h3 {
    font-size: 1.75rem;
    margin: 0;
  }

  p,
  li {
    font-weight: 300;
    line-height: 1.5;
  }

  a {
    color: $c-blue;
  }
}
