//-----------------------------------------------------------------------------
// .archive-tree
//
//-----------------------------------------------------------------------------

.archive-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: grey(10);
}

.archive-tree {
  background-color: grey(10);

  &__title {
    line-height: 2.5rem; // match searchbox probably to right
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul ul {
    margin-top: -1px;
  }

  li {
    display: block;
    min-height: rem-calc(40);
    clear: left;
    margin-bottom: -1px;
  }

  .children {
    display: none;
  }

  .current ~ .children, .open ~ .children {
    display: block;
  }

  input[type=checkbox] {
    position: fixed;
    opacity: 0;
    height: 0;
    width: 0;
  }

  input[type=checkbox]:checked + .children {
    display: block;
  }

  button,
  label {
    width: rem-calc(40);
    height: rem-calc(40);
    outline: 0 red solid;
    border-width: 0 0 1px 1px;
    border-color: white;
    border-style: solid;
    float: left;
    background-size: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;

    &:not([disabled]):hover {
      background-color: $c-teal;
    }
  }

  [aria-expanded=true] button {
    background-image: url(/assets/icons/tree-contract.svg);
  }
  [aria-expanded=false] button, label {
    background-image: url(/assets/icons/tree-expand.svg);
  }
  button[disabled] {
    background-image: url(/assets/icons/tree-item.svg);
  }

  button,
  label,
  &__label a {
    background-color: grey(20);
  }

  li li {
    margin-left: rem-calc(40);

    button,
    label,
    a {
      background-color: grey(30);
    }

    li button,
    li label,
    li a {
      background-color: grey(40);
    }
  }

  .current a,
  .current button,
  .current label,
  .current a:hover {
    background-color: $c-teal;
    color: black;

  }

  &__label {
    @include clearfix;
    border-top: 1px white solid;
    position: relative;
  }

  &__label--root { //toppermost
    button {
      // height: rem-calc(46);
      // width: rem-calc(46);
    }

    a {
      font-size: rem-calc(22);
      font-weight: 500;
    }
  }

  &__label a {
    display: block;
    margin-left: rem-calc(40);
    padding: rem-calc(9 16 8 16);
    line-height: rem-calc(22);
    border-left: 1px white solid;
    border-bottom: 1px white solid;
    color: black;

    &:hover {
      background-color: blend-multiply(rgba($c-teal,0.1), grey(20) );
    }

    li li &:hover {
      background-color: blend-multiply(rgba($c-teal,0.1), grey(30) );
    }

    li li li &:hover {
      background-color: blend-multiply(rgba($c-teal,0.1), grey(40) );
    }
  }

}
