//-----------------------------------------------------------------------------
// .archive-tree
//
//-----------------------------------------------------------------------------

.archive-section {
  background-color: grey(10);
  margin-top: 1px; // separate from previous section?
}

.archive-tree {
  background-color: grey(10);

  &__title {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul ul {
    margin-top: -1px;
  }

  li {
    display: block;
    min-height: rem(40);
    margin-bottom: -1px;
  }

  .children[hidden] {
    display: none;
  }

  button,
  &__leafnode {
    width: rem(40);
    height: rem(40);
    border: 1px white solid;
    background-size: 1rem;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    margin-right: -1px;
  }

  button:hover {
    background-color: $c-teal;
  }

  button[aria-expanded=true] {
    background-image: url(/assets/icons/tree-contract.svg);
  }

  button[aria-expanded=false] {
    background-image: url(/assets/icons/tree-expand.svg);
  }

  &__leafnode {
    background-image: url(/assets/icons/tree-item.svg);
  }

  button,
  &__leafnode,
  &__label a {
    background-color: grey(20);
  }

  li li {
    margin-left: calc(2.5rem - 1px);

    button,
    a {
      background-color: grey(30);
    }

    li button,
    li a {
      background-color: grey(40);
    }
  }

  .current a,
  .current button,
  .current a:hover {
    background-color: $c-teal;
    color: black;

  }

  &__label {
    display: flex;
    position: relative;
  }

  // toppermost level
  &__label--root {
    a {
      font-size: rem(22);
      font-weight: 500;
    }
  }

  &__label a {
    display: block;
    width: 100%;
    margin-left: calc(2.5rem - 1px);
    padding: 0.5rem 1rem;
    line-height: rem(22);
    border: 1px white solid;
    color: black;
    text-decoration: none;

    &:hover {
      background-color: blend-multiply(rgba($c-teal, 0.1), grey(20));
    }

    li li &:hover {
      background-color: blend-multiply(rgba($c-teal, 0.1), grey(30));
    }

    li li li &:hover {
      background-color: blend-multiply(rgba($c-teal, 0.1), grey(40));
    }
  }

}