//-----------------------------------------------------------------------------
// .awesomplete - main search input autocomplete
// https://leaverou.github.io/awesomplete
//-----------------------------------------------------------------------------

[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.awesomplete {
  display: block;
  position: relative;
  width: 100%;

  ul {
    position: absolute;
    left: -1px;
    right: -1px;
    z-index: 99;
    min-width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    border: 1px solid black;
    border-top: 1px solid grey(20);
    box-shadow: 0 2px 8px rgba(black, 0.2);
    text-shadow: none;
  }

  ul:empty,
  ul[hidden] {
    display: none;
  }

  li {
    position: relative;
    padding: 0.625rem 1rem;
    cursor: pointer;
    color: black;

    &:hover,
    &[aria-selected=true] {
      background-color: black;
      // background-image: linear-gradient(grey(10) 0, grey(10) 1px, grey(5) 1px, grey(10) 100%);
      color: white;

      mark {
        color: white;
      }
    }
  }

  mark {
    font-weight: 700;
    background-color: inherit;
  }

  @supports (transform: scale(0)) {
    ul {
      transition: $transition-default;
      transform-origin: 0 0;
    }

    ul:empty,
    ul[hidden] {
      opacity: 0;
      transform: scale(1 0);
      display: block;
    }
  }
}