.carousel {
  height: 100%;
  overflow: hidden;
}

.carousel-image {
  height: 36rem;
}

.carousel-thumb {
  height: 100%;;
  width: 100%;
}

.thumbnail {
  height: 100%;
  width: 3em;
  overflow: hidden;
  display: inline-block;
}

.carousel-image:not(.is-selected) {
  filter: contrast(100%) blur(1.5px) opacity(50%);
}

.flickity-prev-next-button {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
  background: #333;
  position: relative;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: #000;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* position outside */
.flickity-prev-next-button.previous {
  top: 15rem;
  left: 0;
  margin: 2rem;
}
.flickity-prev-next-button.next {
  margin: 2rem;
  float: right;
  top: 15rem;
}
