//-----------------------------------------------------------------------------
// .archive-tree
// using bower_components Clipboard for copying cite text.
// applies modifier --copied on copy.
// https://clipboardjs.com/
//-----------------------------------------------------------------------------

.clipboard {
  margin-bottom: 0.5rem;
  
  &__input {
    vertical-align: middle;
    display: inline-block;
    padding: rem-calc(6 4 5 4);
    margin: 0;
    height: 2rem;
    width: calc(100% - 2rem);
    box-shadow: none;
  }

  &--copied &__input { // this class applied by js once contents copied to clipboard
    animation-name: copied;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
  }

  &__button {
    vertical-align: middle;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-left: -1px;
    border: 1px grey(20) solid;
    &:hover {
      border: 1px grey(30) solid;
      background-image: linear-gradient(white, grey(10));
    }
    &:active {
      border: 1px grey(50) solid;
      background-image: linear-gradient(grey(20), grey(10));
    }
  }
}

@keyframes copied {
  0% {
    background-color: rgba($c-teal, 0.25);
  }

  100% {
    background-color: white;
  }
}
