//-----------------------------------------------------------------------------
// using bower_components Clipboard for copying cite text.
// applies modifier --copied on copy.
// https://clipboardjs.com/
//-----------------------------------------------------------------------------

.clipboard {
  margin-bottom: 0.5rem;
  display: grid;
  vertical-align: top;
  align-items: stretch;
  justify-items: stretch;
  position: relative;

  textarea {
    min-height: 0; // but rows=1
    resize: none;
    color: white;
    background-color: grey(80);
    @include form-focus();

    &:focus,
    &:focus-visible {
      background-color: grey(90);
    }
  }

  textarea,
  &::after {
    grid-area: 1 / 1 / 2 / 2;
    // :after type & box must match textarea measurements
    border: 1px dotted white;
    padding: 0.25rem;
    padding-right: 2rem;
    font-size: 0.8rem;
    line-height: 1.2;
    font-weight: 300;
    overflow: hidden;
  }

  &:after {
    content: attr(data-replicated-value) " ";
    visibility: hidden;
    white-space: pre-wrap;
  }

  &--copied textarea {
    // this class applied by js once contents copied to clipboard
    animation-name: copied;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
  }

  &__button {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-shrink: 0;
    height: 2rem;
    width: 2rem;
    margin-left: -1px;
    color: white;
    background: transparent;
    @include form-focus();

    .icon {
      font-size: 2rem;
    }

    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
      background-color: black;
    }

  }
}

@keyframes copied {
  0% {
    background-color: rgba($c-green, 0.5);
  }

  100% {
    background-color: grey(80);
  }
}
