//-----------------------------------------------------------------------------
// other page .control 's
// a common appearance across a few element types
//-----------------------------------------------------------------------------

// wrapper only used for the bottom of searchgrid
.controls {
  padding-top: $grid-gutter;
  padding-bottom: $grid-gutter;
  justify-content: space-between;
  gap: 1rem;

  @include media("<small") {
    flex-direction: column;
    align-items: flex-start;
  }
}

.control {
  @include control-base;
  display: inline-flex;
  height: calc(3rem + 2px);
  position: relative;

  label {
    margin: 0;
    font-size: .875rem;
  }

  &__label {
    line-height: 1.5rem;
    padding: 0.75rem 0.5rem;

    @include media(">=medium") {
      padding: 0.75rem 1rem;
    }
  }

  &__buttons {
    display: inline-flex;
  }

  &__buttons:last-child {
    //margin-right: -1px;
  }

  &__button {
    // height: rem(40);
    margin: -1px;
    // margin-right: -1px;
    border: 1px black solid;
    color: black;
    background-color: white;
    display: inline-flex;
    width: 3rem;
    align-items: center;
    justify-content: center;
    padding: 0;

    &:not(&--active):hover {
      @include control-hover;
    }

    .icon {
      // float: left;
      font-size: rem(24);
      margin: rem(8);
    }

    &--active,
    &--active:hover {
      background-color: grey(80);
      color: white;
    }

    label {
      //alt posiiton of label
      // float: left;
      line-height: rem(16);
      padding: rem(16);
    }
  }

  // &--filters {
  //   width: 100%;
  // }

  &--filters &__label {
    float: none;
  }

  &--filters &__button {
    margin-left: auto;
  }

  &--active:after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    margin-left: -1rem;
    width: 2rem;
    height: 1rem;
    background-image: url(/assets/img/filter-drop.svg);
    background-repeat: no-repeat;
  }
}

.pagination {
  // styled like a control
  @include control-base;
  float: right;
  font-size: 0; // remove inline-block inbetween space
  font-weight: 500;

  @include media(">=medium") {
    text-align: center;
  }

  display: flex;

  li {
    line-height: rem(16);
    display: flex;
  }

  li + li {
    border-left: 1px black solid
  }

  a,
  .current {
    color: black;
  }

  .current {
    background: grey(80);
    color: white;
  }

  a:hover {
    @include control-hover;
  }
}

// rpp= results per page, but not quite worth inheriting from .control
.control--rpp {
  .c-select {
    width: auto;
    margin: -1px;
    font-size: clamp-between(rem(14), rem(18));
  }
}