//-----------------------------------------------------------------------------
// Provides similar functionality to html5 details/summary element,
// but with wider browser support.
// Using javascript to toggle aria-expanded value,
// but will use css-only :target as no-js fallback
// if an id is defined as target on .details element

// <div class="details" aria-expanded="false" id="details-id1">
//  <a class="details__summary" href="#details-id1">More…</a>
//  <div class="details__content">Expanded text</div></div>

//-----------------------------------------------------------------------------

.details {
  &__summary {
    @include control-base;
    cursor: pointer;
    background-color: inherit;
    display: block;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    @include icon-bullet(arrow_right, $size: 1rem, $left: 0.5rem, $top: 0);

    &:hover {
      border: 1px grey(30) solid;
      background-image: linear-gradient(white, grey(10));
    }
  }

  &[aria-expanded=true] &__summary,
  &:target &__summary {
    @include icon-bullet(arrow_down, $size: 1rem, $left: 0.5rem, $top: 0);
  }

  &__content {
    display: none; //default
  }

  &[aria-expanded="true"] &__content,
  &:target &__content {
    display: block;
  }

}
