.explore-banner {
  background-color: black;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 1rem;
  position: relative;

  &__bgimages {
    overflow: hidden;
    position: absolute;
    inset: 0;
  }


  &__intro {
    font-size: clamp-between(1rem, 2rem);
    font-weight: 500;
    text-transform: none;
    margin-top: clamp-between(2rem, 4rem);
    margin-bottom: clamp-between(0rem, 2rem);

    a {
      color: white;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  @include banner-slides($no-of-slides: 3);
}
