//-----------------------------------------------------------------------------
// .filtercolumn
// ↳ .filterpanel
//   ↳ .filter
//-----------------------------------------------------------------------------

.filterpanel {
  background-color: white;
  border: 1px black solid;
  box-shadow: 0 2px 8px grey(20);

  @include media("<=small") {
    position: absolute;
    width: 100%;
    box-shadow: 0 8px 16px rgba(black, 0.3);
  }

  &__button {
    // applies filters, but hidden if js is active
    margin: 0;
    width: 100%;
    padding: 1rem;
  }
}

.filter {
  padding: 0.75rem 0.5rem;

  a {
    text-decoration: none;
  }

  & + & {
    border-top: 1px black solid;
  }

  &--clear {
    border-bottom: 1px black solid;
  }

  &__name {
    display: block;
    position: relative;
    color: black;
    font-size: rem(18);
    @include icon-bullet(arrow_right, 1.5rem, $top: -0.125rem, $left: -0.2rem);

    &:before {
      transition: transform $transition-default;
    }

    padding-left: 1.5rem; // need to rewrite that mixin really

    .icon {
      font-size: rem(24);
      position: absolute;
      left: -0.25rem;
      // transform-origin: center center;

    }
  }

  &__options {
    display: none;
    font-size: rem(12);
    @include clearfix;

    input {
      margin-bottom: 0;
    }

    ul,
    li {
      display: block;
      margin: 0;
      padding: 0;
    }

    .nested-galleries {
      margin-left: 1.5em;
    }

    li {
      padding-top: rem(6);
      position: relative;
    }

    label {
      display: block;
      padding-left: 1.5rem;
      margin: 0;
      font-size: rem(14);
      line-height: rem(16);
      cursor: pointer;
    }

    .filter__box {
      //checkbox within label
      position: absolute; // relative to li
      // top: rem(8);
      left: rem(4);

    }
  }

  &__count {
    opacity: (0.66);
    @include small-caps;
    padding-left: 0.5em;
    font-weight: 400;
  }

  &--active,
  &--open {
    .filter__options {
      display: block;
    }
  }

  &--open {
    .filter__name {

      // @include icon-bullet(arrow_down, 1.5rem, $left: -0.2rem);
      // padding-left: 1.5rem;
      &:before {
        // transform-origin: center center;
        // bottom: auto;
        // top: auto;
        transform: rotate(90deg);
      }

      padding-bottom: 0.75rem;
      margin-bottom: 0.25rem;
    }

    .filter__name:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 1px grey(20) solid;
    }
  }

  &--active {
    //border-left: 1px mix($c-teal, $c-blue) solid;
    background-color: grey(80);
    color: white;

    .filter__name {
      color: white;
      font-weight: 500;
      @include icon-bullet(cancel, 1.5rem, $top: -0.1rem, $left: -0.2rem);
    }

    .filter__name:after {
      border-color: grey(70);
    }

    label {
      color: white;
      font-weight: 400;
    }
  }

  &--uncollapsible &__name {
    @include icon-bullet(cancel, 1.5rem, $top: -0.1rem, $left: -0.2rem);
  }

  &:hover:not(&--active) {
    @include control-hover;
  }

  .filter__other {
    display: block;
    color: grey(40);
    font-size: rem(14);
    padding-left: 1.5rem;
    padding-top: rem(4);
    @include icon-bullet(arrow_right, $size: 1.25rem, $top: 0.1rem);

    &:before {
      opacity: 0.5;
    }

    &--open {
      @include icon-bullet(arrow_down, $size: 1.25rem, $top: 0.4rem);
      padding-left: 1.5rem;
    }
  }

  &__daterange {
    label {
      float: left;
      width: 50%;
      margin-right: -1px;
      padding: 0.125rem 0;
    }

    input {
      padding: 0.5em;
      max-width: 100%;
      padding-top: 0.125rem
    }
  }
}

//-----------------------------------------------------------------------------
// .filterbadge - attached beneath searchbox, indicate (some, important) active filters
// see
// templates/partials/global/searchbox.html
// Expecting a data-filter="Category|Museum|Archive"
//-----------------------------------------------------------------------------

@mixin filterbadge-base {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;

  @include media(">=medium") {
    max-width: 75%;
  }

  vertical-align: middle;
  line-height: 1.25rem;
  font-size: 0;
  display: flex;

  & * {
    font-size: rem(14);
  }
}

.filterbadge {
  @include filterbadge-base;
  overflow: hidden;
  color: white;
  background: grey(80);

  dl {
    padding: 0;
    margin: 0;
  }

  a:hover {
    color: white;

  }

  border-radius: rem(6);
  margin-right: 0.25rem;

  &__label,
  &__key {
    display: inline-block;
    white-space: nowrap;
    max-width: 80%;
    overflow: hidden;
    vertical-align: top;
    text-overflow: ellipsis;
    padding-block: 0.25rem;
    margin: 0;
  }

  &__label {
    padding-right: 2rem;
    // padding-left: rem(4);
  }

  &__key {
    padding-right: rem(12); // 4 + width of pseudo el
    padding-left: 0.5rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: rem(8);
      background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 28"><path stroke="#FFFFFF" fill="none" d="M1,0 7,15 1,28" vector-effect="non-scaling-stroke" ></path></svg>'
        );
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: left center;
    }
  }

  &__x {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    float: right;
    padding: rem(4 8 4 6);
    color: white;
    background: grey(80);
    border-left: 1px white solid;
    text-decoration: none;

    &:hover {
      color: white;
      background: grey(90);
    }
  }

  &--prefix {
    @include filterbadge-base;
    color: grey(100);
    background-color: grey(20);
    @include small-caps;
    padding: rem(4 8);
    border-radius: rem(6 0 0 6);
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 500;

    &:after {
      content: "";
      position: absolute;
      right: rem(-7);
      overflow: visible;
      top: 0;
      bottom: 0;
      width: rem(8);
      background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 28"><path fill="#cccccc" d="M0,0 1,0 7,15 1,28 0,28"></path><path fill="none" stroke="#FFFFFF" stroke-width="2px" d="M1,0 7,15 1,28" vector-effect="non-scaling-stroke" ></path></svg>'
        );
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: left center;
      z-index: 1;
    }
  }

  &--prefix + & {
    // the first badge after prefix
    border-radius: rem(0 6 6 0);
    padding-left: 0.25rem;
    max-width: 80%;
  }
}
