//-----------------------------------------------------------------------------
// Theres no place like /
//-----------------------------------------------------------------------------

.home-features {
  background-color: black;
  color: white;
  text-shadow: rgba(0,0,0,0.5) 0 0 1rem;
  padding: 2rem 0;
  @include breakpoint(medium up) { padding: 4rem 0; }
  @include breakpoint(large up) { padding: 6rem 0; }
  position: relative;
  overflow: hidden;

  &__intro {
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: none;
    @include breakpoint(small only) { display: none; }
    @include breakpoint(medium up) { margin-bottom: 4rem; }
    @include breakpoint(large up) { margin-bottom: 6rem; }
    a { color: white; }
  }

  /* --------- CONFIG ---------  */
  $no-of-slides: 6; // sadly, this number is not deducable by css alone.
  $slide-duration: 6s;
  $scale-factor: 1.1;
  $pan: true; //or false
  /* --------------------------  */

  img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; // unsupported browsers get nothing, but better loading experience.
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation-name: slide;
    animation-duration: $no-of-slides * $slide-duration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  $slide-fade: 50% / $no-of-slides;
  $slide-end: 200% / $no-of-slides;
  @keyframes slide {
    0% { // initial state - topmost, and transparent
      opacity: 0;
      transform: scale3d(1,1,1);
      z-index: $no-of-slides;
    }
    #{$slide-fade} {
      opacity: 1; // now, the next slide will start in front
    }
    #{$slide-end} {
      transform: scale3d(#{$scale-factor},#{$scale-factor},1); // but we keep scaling until fully obscured
    }
    100% {
      transform: scale3d(#{$scale-factor},#{$scale-factor},1); //hold until all slides are done
      z-index: 0;
    }
  }

  // set animation offsets for subsequent slides, so we see each in turn
  @for $i from 1 to $no-of-slides {
    $child: 1 + $no-of-slides - $i;
    $delay: $i * $slide-duration;
    $dx: left, center, right;
    $dy: top, center, bottom;
    img:nth-child(#{$child}) {
      animation-delay: #{$delay};
      @if $pan {
        transform-origin: nth($dx,random(length($dx))) nth($dy,random(length($dy))) 0;
      }
    }
  }
  .row { // keep above images
    position: relative;
    z-index: $no-of-slides + 1;
  }
}

.featuresteps {
  @include breakpoint(medium up) {
    display: table; //ie9 fallback
    display: flex;
    justify-content: space-between;
  } // stack on small
}

.featurestep {
  flex: 1;
  &--arrow {
    flex: initial;
    flex-basis: 4em;
    margin: 0 2em;
    position: relative; // for safari
    @include breakpoint(small only) {
      height: 2rem;
      margin: 1rem 37.5%;
    }
  }
  &__arrow {
    width: 100%;
    height: 100%;
    position: absolute; // for safari
    stroke-width: 1;
    stroke: #fff;
    fill: none;
    .ttb {display: none;}
    @include breakpoint(small only) {
      .ltr {display: none;}
      .ttb {display: block;}
    }
  }
  a {
    text-decoration: underline;
    color: white;
  }

  .icon {
    font-size: 2rem;
    vertical-align: top;
    @include breakpoint(medium up) {
      display: block;
      margin-bottom: 1rem;
      font-size: 3rem;
    }
  }

  &__title {
    font-size: 2rem;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.5rem;
    @include breakpoint(medium up) {
      font-size: 3rem;
      text-align: left;
      margin-bottom: 1rem;
    }
  }
  &--1 &__title {
    font-weight: 900;
  }
  &--3 &__title {
    font-weight: 300;
  }

  &__desc {
    font-size: rem-calc(18);
    font-weight: 500;
    margin: 0;
    text-align: center;
    @include breakpoint(medium up) {
      text-align: left;
    }
  }
}

.home-collections {
  background-color: #fff;

  .row {
    @include flexcards-container;
  }

  .column:not(h2) {
    @include flexcards-item;
  }

  &__h {
    font-size: 1.5rem;
    @include breakpoint(medium up) { font-size: 2rem; }
    @include breakpoint(large up) { font-size: 2.5rem; }
    line-height: 1;
    text-transform: uppercase;
    margin: 0 0 1em 0;
    @include breakpoint(medium up) { margin: 1em 0; }
  }
}
