//-----------------------------------------------------------------------------
// Theres no place like /
//-----------------------------------------------------------------------------

.home-banner,
.home-features {
  background-color: black;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 1rem;
  padding: 2rem 0;
  @include breakpoint(medium up) {
    padding: 3rem 0;
  }
  @include breakpoint(large up) {
    padding: 4rem 0;
  }
  position: relative;
  overflow: hidden;
}
.home-banner {
  &__intro {
    font-weight: 500;
    margin-bottom: 0;
    text-transform: none;
    @include breakpoint(small only) {
      display: none;
    }
    @include breakpoint(medium up) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    @include breakpoint(large up) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    a {
      color: white;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  /* --------- CONFIG ---------  */
  $no-of-slides: 8; // sadly, this number is not deducable by css alone.
  $slide-duration: 6s;
  $scale-factor: 1.1;
  $pan: true; //or false
  /* --------------------------  */

  img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; // unsupported browsers get nothing, but better loading experience.
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation-name: slide;
    animation-duration: $no-of-slides * $slide-duration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  $slide-fade: 50% / $no-of-slides;
  $slide-end: 200% / $no-of-slides;
  @keyframes slide {
    0% {
      // initial state - topmost, and transparent
      opacity: 0;
      transform: scale3d(1, 1, 1);
      z-index: $no-of-slides;
    }
    #{$slide-fade} {
      opacity: 1; // now, the next slide will start in front
    }
    #{$slide-end} {
      transform: scale3d(
        #{$scale-factor},
        #{$scale-factor},
        1
      ); // but we keep scaling until fully obscured
    }
    100% {
      transform: scale3d(
        #{$scale-factor},
        #{$scale-factor},
        1
      ); //hold until all slides are done
      z-index: 0;
    }
  }

  // set animation offsets for subsequent slides, so we see each in turn
  @for $i from 1 to $no-of-slides {
    $child: 1 + $no-of-slides - $i;
    $delay: $i * $slide-duration;
    $dx: left, center, right;
    $dy: top, center, bottom;
    img:nth-child(#{$child}) {
      animation-delay: #{$delay};
      @if $pan {
        transform-origin: nth($dx, random(length($dx)))
          nth($dy, random(length($dy)))
          0;
      }
    }
  }
  .row {
    // keep above images
    position: relative;
    z-index: $no-of-slides + 1;
  }
}

.home-features {
  @include sm-gradient($c-teal $c-blue $c-purple);
  @include sm-gradient-animated($layers: 2);
}

.featuresteps {
  @include breakpoint(medium up) {
    display: table; //ie9 fallback
    display: flex;
    justify-content: space-between;
  } // stack on small
}

.featurestep {
  flex: 1;
  &--arrow {
    flex: initial;
    flex-basis: 3em;
    margin: 0 1em;
    position: relative; // for safari
    @include breakpoint(small only) {
      height: 2rem;
      margin: 1rem 37.5%;
    }
    @include breakpoint(large up) {
      flex-basis: 4em;
      margin: 0 2em;
    }
  }
  &__arrow {
    width: 100%;
    height: 100%;
    position: absolute; // for safari
    stroke-width: 1;
    stroke: #fff;
    fill: none;
    .ttb {
      display: none;
    }
    @include breakpoint(small only) {
      .ltr {
        display: none;
      }
      .ttb {
        display: block;
      }
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    text-decoration: underline;
    color: white;
  }
  .icon {
    font-size: 2rem;
    vertical-align: top;
    @include breakpoint(medium up) {
      display: block;
      margin-bottom: 1rem;
      font-size: 3rem;
    }
  }

  &__title {
    font-size: 2rem;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.5rem;
    @include breakpoint(medium up) {
      text-align: left;
      margin-bottom: 1rem;
    }
    @include breakpoint(large up) {
      font-size: 3rem;
    }
  }
  &--1 &__title {
    font-weight: 900;
  }
  &--3 &__title {
    font-weight: 300;
  }

  &__desc {
    font-size: rem-calc(18);
    font-weight: 500;
    margin: 0;
    text-align: center;
    @include breakpoint(medium up) {
      text-align: left;
    }
  }
  &__desc a {
    text-decoration: underline;
  }
}

//-----------------------------------------------------------------------------
// home page variation
//-----------------------------------------------------------------------------

@mixin home-section($top: 2rem, $bottom: 2rem) {
  padding-top: $top;
  padding-bottom: $bottom;
  @include breakpoint(medium up) {
    padding-top: $top * 1.5;
    padding-bottom: $bottom * 1.5;
  }
  @include breakpoint(large up) {
    padding-top: $top * 2;
    padding-bottom: $bottom * 2;
  }

  &__h {
    font-size: 1.5rem;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 0 1em 0;
    @include breakpoint(medium up) {
      margin: 1em 0;
      font-size: 2rem;
    }
    @include breakpoint(large up) {
      font-size: 2.5rem;
    }
  }
}

.home-cards {
  background-color: #fff;
  @include home-section;

  .row {
    @include flexcards-container;
  }

  .column:not(h2) {
    @include flexcards-item;
  }
}

.home-carousel {
  background-color: #000;
  color: #fff;
  @include home-section;
}

.home-map {
  @include home-section($top: 2rem, $bottom: 0);
  // no bottom padding cos we have 2 white sections in a row
}

.smg-map {
  display: block;

  @include breakpoint(medium up) {
    display: flex;
    &__imgratio {
      height: percentage(340 / 400);
      width: 50%;
    }
    &__intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
    }
  }
  &__map {
    display: block;
    margin: auto;
    max-width: 512px;
  }

  &__logo svg {
    width: 118px * 0.75;
    height: 71px * 0.75;
    display: none;
    @include breakpoint(medium up) {
      display: block;
    }
    @include breakpoint(large up) {
      width: 118px;
      height: 71px;
    }
  }
  &__desc {
    margin-top: 1rem;
    // display: none;
    // @include breakpoint(medium up) {
    //   display: block;
    // }
    h3 {
      font-size: 1em;
    }
    @include breakpoint(large up) {
      margin-top: 2rem;
      font-size: 1.5em;
      line-height: 1.2;
    }
  }

  &__divider {
    width: 2px;
    flex-shrink: 0;
    background-color: black;
    margin: 1rem 2rem;
    display: none;
    @include breakpoint(medium up) {
      display: block;
    }
    @include breakpoint(large up) {
      margin: 1rem 4rem;
    }
  }

  @include breakpoint(small up) {
  }
  @include breakpoint(medium up) {
    &__intro {
    }
    &__map {
      // margin: 0;
    }
  }
}
