//-----------------------------------------------------------------------------
// .loading
// Can be applied to any element*, but currently expecting section.searchbar
// (i.e. top of page, after search action)
//-----------------------------------------------------------------------------

.loading {
  //position: relative; // *we need this, but not applying universally so it can be used on already absolutely positioned elements as well.
  // so may need to be added to receiving element 
  &:after {
    opacity: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.5rem;
    background-image: repeating-linear-gradient(135deg, $c-cyan, $c-blue, $c-purple, $c-blue, $c-cyan );
    animation: loadingrad 2s linear infinite,
      loadingmove 0.707s ease-out 1;
    background-size: 300% 100%;
    transform-origin: 0 0;
  }
}

@keyframes loadingrad {
    0% { background-position: 0% 50% }
    100% { background-position: 150% 50% }
}

@keyframes loadingmove {
    0% { transform: scaleX(0) }
    100% { transform: scaleX(100%) }
}
