.c-logo-panel {
  @include sm-gradient($c-teal $c-blue $c-purple);
  @include sm-gradient-animated($layers: 2);
  color: white;
  padding: 1rem 0;
  @include media(">=medium") {
    padding: 2rem 0;
  }
  @include media(">=large") {
    padding: 3rem 0;
  }

  a {
    color: inherit;
  }

  &__title {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    @include media(">=medium") {
      margin-bottom: 2rem;
    }
    @include media(">=large") {
      margin-bottom: 3rem;
    }
  }

  &__items {
    @include media(">=medium") {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
    margin-top: 1rem;
  }

  &__items a:hover {
    text-decoration: underline;
  }

  &__text {
    display: block;
    margin: 0.4rem 0;

    @include media(">=medium") {
      display: none;
    }
  }

  img,
  svg {
    display: none;
    height: 3rem;
    width: auto;
    max-width: none;

    @include media(">=medium") {
      display: block;
    }
    @include media(">=large") {
      height: 4rem;
    }
  }
}
