// based on https://github.com/TheScienceMuseum/wordpress-themes/blob/master/smgwptheme/src/scss/components/_masthead.scss
.c-masthead {
  background-color: black;
  color: white;

  & > .row {
    position: relative;
  }

  &__logo {
    float: left;
    position: relative;
    z-index: 1; // make clickable above menu

    img {
      width: auto;
      // @include between(height, 45px, 70px);
      // @include between(margin, 20px 0, 25px 0);
      height: 45px;
      margin: 20px 0;
      @include breakpoint(medium) {
        height: 70px;
        margin: 25px 0;
      }
    }
  }

  &__nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    // height: 100%;
  }
}
