//-----------------------------------------------------------------------------
// .panel
// generic box container
// if only for text, can combine .panel & .panel__text as one div
//-----------------------------------------------------------------------------

.panel {
  background-color: grey(80);
  color: white;
  margin-bottom: 1px;
  font-weight: 400;
  &:last-child { margin-bottom: 0; }

  .record-details & { //except if inside a grey panel
    // background-color: white;
  }


  &__text {
    padding: 1rem;

    & > * {
      line-height: 1.25;
    }
    & > * + * {
      margin-top: 1rem;
    }

    p,
    li,
    dt,
    dd {
      font-size: 1rem;
    }

    h1, h2, h3, h4 {
      // treat all equally
      font-size: 1.5rem;
      margin: 0;
    }

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  a {
    @include text-link($c-teal, $c-green);
  }
  ul {
    @include ul-icons;
  }

  .museum-articles h3 {
    font-size: 1.25rem;
  }

  ul.related-people,
  ul.related-organisation,
  ul.related-document,
  ul.related-article {
    svg {
      vertical-align: middle;
      margin-bottom: rem-calc(2);
    }
  }

  &--cite {
    .icon {
      display: inline-block;
      font-size: 0.9rem;
      vertical-align: middle;
      position: relative;
      top: 0.1rem;
    }
  }
}
