//-----------------------------------------------------------------------------
// .panel
// generic box container
// if only for text, can combine .panel & .panel__text as one div
//-----------------------------------------------------------------------------

.panel {
  background-color: black;
  color: white;
  margin-bottom: 1px;
  font-weight: 400;

  --smg-link-color: #{$c-teal};

  & + & {
    margin-top: 0;
    background-color: grey(85);
  }

  & + & + & {
    background-color: grey(77);
  }

  & + & + & + & {
    background-color: grey(70);
  }

  .record-details & {
    //except if inside a grey panel
    // background-color: white;
  }

  &--wikidata {
    padding: 0;
    margin-top: 1em;
  }

  &__withicon {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__text {
    padding: $grid-gutter;
    @include textstyles;

    p,
    li,
    dt,
    dd {
      font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
      // treat all equally
      font-size: 1.5rem !important;
      margin: 0;
    }
  }

  a {
    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
      color: $c-green;
      text-decoration: underline;
    }
  }

  ul {
    @include ul-icons;
  }

  .museum-articles h3 {
    font-size: 1.25rem;
  }

  ul[class*='related-'] {
    li {
      display: flex;
    }

    svg {
      margin-top: 0.25rem;
      margin-right: 0.5rem;
      flex-shrink: 0;
    }
  }

  &--cite {
    p .icon {
      display: inline-block;
      font-size: 0.9rem;
      vertical-align: middle;
      position: relative;
      top: 0.1rem;
    }
  }
}
