//-----------------------------------------------------------------------------
// .panel
// generic box container
// if only for text, can combine .panel & .panel__text as one div
//-----------------------------------------------------------------------------

.panel {
  background-color: grey(10);
  .record-details & { //except if inside a grey panel
    background-color: white;
  }
  margin-bottom: 1rem;
  &:last-child { margin-bottom: 0; }

  &__text {
    padding: 1rem;
    font-size: rem-calc(14);

    & > * {
      line-height: 1.2;
    }

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  a { @include text-link; }
  ul {
    @include ul-icons;
  }

  ul.related-person li {
    @include icon-bullet(person);
  }
  ul.related-organisation li {
    @include icon-bullet(person);
  }

  ul.related-article li {
    @include icon-bullet(tree-item); //obvs needs a better icon
  }

  &--cite {
    .icon { display: inline-block; }
  }
}
