//-----------------------------------------------------------------------------
// .panel
// generic box container
// if only for text, can combine .panel & .panel__text as one div
//-----------------------------------------------------------------------------

.panel {
  background-color: grey(75);
  color: white;
  margin-bottom: 1px;
  font-weight: 400;
  &:last-child { margin-bottom: 0; }

  .record-details & { //except if inside a grey panel
    // background-color: white;
  }


  &__text {
    padding: 1rem;

    & > * {
      line-height: 1.25;
    }

    p,
    li,
    dt,
    dd {
      font-size: 1rem;
    }

    p + p {
      margin-top: 1rem;
    }

    h4 {
      margin-top: 1rem;
    }

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  a {
    @include text-link($c-teal, $c-green);
  }
  ul {
    @include ul-icons;
  }

  ul.related-people,
  ul.related-organisation,
  ul.related-article {
    svg {
      vertical-align: middle;
      margin-bottom: rem-calc(2);
    }
  }

  &--cite {
    .icon { display: inline-block; }
  }
}
