//-----------------------------------------------------------------------------
// a RECORD is a generic term for things that apply (more specifically) to
// Objects, People, Archives, Galleries
// this file covers a few subcomponents, that are all prefixed record-
//-----------------------------------------------------------------------------

//-----------------------------------------------------------------------------
// .record-top
// above the 'fold' important things
//-----------------------------------------------------------------------------

.record-top {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include breakpoint(medium) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  background: white;

  &__title {
    font-size: 2rem;
    letter-spacing: -0.02em;
    @include breakpoint(medium) {
      font-size: 3rem;
    }
    font-weight: 700;

    .icon {
      font-size: 66.6%;
    }
  }

  &__date {
    font-size: 2rem;
    font-weight: 500;
  }

  &__dl {
    font-size: 1.25rem;

    dt,
    dd {
      display: inline;
      margin: 0;
    }

    dt {
      @include small-caps;
    }

    dd {
      font-weight: 500;
    }

    a {
      @include text-link;
    }
  }

  &--dark {
    background: grey(80);
    color: white;
  }
}

//-----------------------------------------------------------------------------
// .record-imgpanel
// the big image panel thing with carousel, and/or openseadragon
//-----------------------------------------------------------------------------

.record-imgpanel {
  font-weight: 400;
  background: grey(100);
  color: white;
  border-top: 1px white solid;

  &__thumbs {
    position: relative;
    text-align: center;
    font-size: 0;
    overflow: hidden;
    margin-bottom: -1px;
    display: none;
    @include breakpoint(medium) {
      display: block;
    }
  }

  &__thumb {
    width: 3rem;
    max-width: auto;
    height: 3rem;
    object-fit: cover;
    opacity: 0.5;
    margin-bottom: 1px;
    margin-right: 1px;
    cursor: pointer;

    &--selected {
      opacity: 1;
      outline: 1px white solid;
      margin-top: -1px;
      margin-bottom: -1px;
      z-index: 1;
      position: relative;
      cursor: default;
    }
  }

  // beneath the images
  &__controlbar {
    position: relative;
  }

  &__caption {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.25;
    @include breakpoint(small only) {
      clear: right;
      font-size: rem-calc(14);
    }
  }
}

.cite {
  //there's not a top level B called cite, just E's
  // inside record-imgpanel__controlbar

  &__button {
    @include button-base;
    @include toolbar-button;
    @include breakpoint(small only) {
      padding: 0.5em 0.75em;
    }
    font-size: rem-calc(18);

    .icon {
      top: rem-calc(2);
      left: rem-calc(-2);
    }

    &--active .icon {
      transform: rotate(270deg);
    }
  }

  &__menu-pos-wrap {
    //wraps __menu to anchor position from top
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }

  &__menu {
    background: rgba(black, 0.9);
    position: absolute;
    width: 75%;
    @include breakpoint(medium) {
      width: 50%;
    }
    @include breakpoint(large) {
      width: 25%;
    }
    right: 1rem;
    border: 1px white solid;
    bottom: 0;
    padding: 1rem;
    color: white;
    z-index: 1;
    box-shadow: 0 -8px 16px rgba(black, 0.3);
    display: none;

    &--active {
      display: block;
    }

    button {
      @include button-base;
      color: $c-teal;
      border-color: $c-teal;
      float: right;
      margin-right: 0;
      font-size: rem-calc(18);

      &:hover {
        color: $c-green;
        border-color: $c-green;
      }

      .icon {
        top: rem-calc(2);
        left: rem-calc(-2);
      }
    }

    p {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    a {
      color: $c-teal;
    }

    img {
      display: block;
      margin-bottom: 0.25rem;
    }
  }

  &__method {
    overflow: auto;

    & + & {
      border-top: 1px grey(30) solid;
      padding-top: 1rem;
    }
  }
}

.openseadragon {
  background-color: grey(90);
  color: white;
}

.osd {
  &__toolbar {
    float: right;
  }

  &__button {
    @include toolbar-button;

    &:hover {
      background-color: rgba(black, 1);
    }
  }
}

.record-description {
  font-size: rem-calc(18);
}

.record-longdesc {
  // this could be applied to a <p>
  // but may be safer to apply to wrapping <div> for bigger content
}

.record-details {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: grey(10);
  margin-top: 2rem;

  &__toggler {
    cursor: pointer;
    padding-left: 1rem;
    @include icon-bullet(arrow_right, $size: 1.125rem, $left: 0.5rem, $top: 0);

    &[aria-expanded='true'] {
      @include icon-bullet(arrow_down, $size: 1.125rem, $left: 0.5rem, $top: 0);
    }
  }

  &__dl {
    @include grid-row($behavior: nest);
    padding: 0.75rem 0;

    // &:not(:last-of-type) { border-bottom: 1px grey(20) solid; }
    // need to knock it in a gutter, hence
    &:not(:last-of-type):after {
      content: ' ';
      margin: 0 0.5rem;
      background: grey(20);
      height: 1px;
      display: block;
      position: relative;
      top: 0.75rem;
    }
    dt,
    dd {
      margin: 0;
    }
    dt {
      @include grid-column(3);
      @include small-caps;
      color: grey(80);
      line-height: 1rem;
      padding-top: 0.25rem; // to match dd line-height
      @include hyphenate;
    }
    dd {
      @include grid-column(9);
      line-height: 1.5rem;
      //font-weight: 500;
    }

    a {
      @include text-link();
    }

    p {
      margin: 0;
    }

    p + p {
      margin-top: 1em;
    }
  }
}

.taxonomy {
  @include ul-icons;
  margin-top: 0;
  margin-bottom: 0;

  li {
    margin-top: 0;
    margin-bottom: 0;
    @for $i from 0 to 5 {
      &:nth-child(#{$i}) {
        margin-left: $i - 1rem;
      }
    }

    &:not(:first-child) {
      @include icon-bullet(taxonomy);
    }
  }
}

//-----------------------------------------------------------------------------
// .record-related
// related records section
// contains a bunch on smaller resultcard's
//-----------------------------------------------------------------------------

.record-related {
  padding: 2rem 0;
  background: black;
  color: white;

  .row {
    @include flexcards-container;
  }

  .column {
    @include flexcards-item;
  }
}

.see-more {
  float: right;
  font-size: 1.5rem;
}
