//-----------------------------------------------------------------------------
// a RECORD is a generic term for things that apply (more specifically) to
// Objects, People, Archives, Galleries
// this file covers a few subcomponents, that are all prefixed record-
//-----------------------------------------------------------------------------

//-----------------------------------------------------------------------------
// .record-top
// above the 'fold' important things
//-----------------------------------------------------------------------------

.record-top {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include media('>=medium') {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  background: white;

  &__title {
    font-size: 2rem;
    letter-spacing: -0.02em;
    @include media('>=medium') {
      font-size: 3rem;
    }
    font-weight: 700;

    .icon {
      font-size: 66.6%;
    }
  }

  &__date {
    font-size: 2rem;
    font-weight: 500;
  }

  &__dl {
    font-size: 1.25rem;

    dt,
    dd {
      display: inline;
      margin: 0;
    }
    dt {
      @include small-caps;
    }

    dd {
      font-weight: 500;
    }

    a {
      @include text-link;
    }
  }

  &--dark {
    background: grey(80);
    color: white;
  }
}

.record-top__back-mph {
  font-size: 1.125rem;
  font-weight: 500;
}
//-----------------------------------------------------------------------------
// .record-imgpanel
// the big image panel thing with carousel, and/or openseadragon
//-----------------------------------------------------------------------------

.record-imgpanel {
  font-weight: 400;
  background: grey(100);
  color: white;
  border-top: 1px white solid;

  &__thumbs {
    position: relative;
    text-align: center;
    font-size: 0;
    overflow: hidden;
    margin-bottom: -1px;
    display: none;
    @include media('>=medium') {
      display: block;
    }
  }

  &__thumb {
    width: 3rem;
    max-width: auto;
    height: 3rem;
    object-fit: cover;
    opacity: 0.5;
    margin-bottom: 1px;
    margin-right: 1px;
    cursor: pointer;

    &--selected {
      opacity: 1;
      outline: 1px white solid;
      margin-top: -1px;
      margin-bottom: -1px;
      z-index: 1;
      position: relative;
      cursor: default;
    }
  }

  // beneath the images
  &__controlbar {
    position: relative;
  }

  &__caption {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.25;
    @include media('<=small') {
      clear: right;
      font-size: rem-calc(14);
    }
  }
}

.cite {
  //there's not a top level B called cite, just E's
  // inside record-imgpanel__controlbar

  &__button {
    @include button-base;
    @include toolbar-button;
    @include media('<=small') {
      padding: 0.5em 0.75em;
    }
    font-size: rem-calc(18);

    .icon {
      top: rem-calc(2);
      left: rem-calc(-2);
    }

    &--active .icon {
      transform: rotate(270deg);
    }
  }

  &__menu-pos-wrap {
    //wraps __menu to anchor position from top
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }

  &__menu {
    background: rgba(black, 0.9);
    position: absolute;
    width: 75%;
    @include media('>=medium') {
      width: 50%;
    }
    @include media('>=large') {
      width: 25%;
    }
    right: 1rem;
    border: 1px white solid;
    bottom: 0;
    padding: 1rem;
    color: white;
    z-index: 1;
    box-shadow: 0 -8px 16px rgba(black, 0.3);
    display: none;

    &--active {
      display: block;
    }

    button,
    .cite__menubutton {
      @include button-base;
      color: $c-teal;
      border-color: $c-teal;
      float: right;
      margin-right: 0;
      font-size: rem-calc(18);

      &:hover {
        color: $c-green;
        border-color: $c-green;
      }

      .icon {
        top: rem-calc(2);
        left: rem-calc(-2);
      }
    }

    p {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    a {
      color: $c-teal;
    }

    img {
      display: block;
      margin-bottom: 0.25rem;
    }
  }

  &__method {
    overflow: auto;

    & + & {
      border-top: 1px grey(30) solid;
      padding-top: 1rem;
    }
  }
}

.openseadragon {
  background-color: grey(90);
  color: white;
}

.osd {
  &__toolbar {
    float: right;
  }

  &__button {
    @include toolbar-button;

    &:hover {
      background-color: rgba(black, 1);
    }
  }
}

.record-description {
  font-size: rem-calc(18);
}

.record-longdesc {
  // this could be applied to a <p>
  // but may be safer to apply to wrapping <div> for bigger content
}

.record-details {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: grey(10);
  margin-top: 2rem;

  &__toggler {
    cursor: pointer;
    padding-left: 1rem;
    @include icon-bullet(arrow_right, $size: 1.125rem, $left: 0.5rem, $top: 0);

    &[aria-expanded='true'] {
      @include icon-bullet(arrow_down, $size: 1.125rem, $left: 0.5rem, $top: 0);
    }
  }

  &__dl {
    @include grid-row($behavior: nest);
    padding: 0.75rem 0;

    // &:not(:last-of-type) { border-bottom: 1px grey(20) solid; }
    // need to knock it in a gutter, hence
    &:not(:last-of-type):after {
      content: ' ';
      margin: 0 0.5rem;
      background: grey(20);
      height: 1px;
      display: block;
      position: relative;
      top: 0.75rem;
    }
    dt,
    dd {
      margin: 0;
    }
    dt {
      @include grid-column(3);
      @include small-caps;
      color: grey(80);
      line-height: 1rem;
      padding-top: 0.25rem; // to match dd line-height
      @include hyphenate;
    }
    dd {
      @include grid-column(9);
      line-height: 1.5rem;
      //font-weight: 500;
    }

    a {
      @include text-link();
    }

    p {
      margin: 0;
    }

    p + p {
      margin-top: 1em;
    }
  }
}

.taxonomy {
  @include ul-icons;
  margin-top: 0;
  margin-bottom: 0;

  li {
    margin-top: 0;
    margin-bottom: 0;
    @for $i from 0 to 5 {
      &:nth-child(#{$i}) {
        margin-left: $i - 1rem;
      }
    }

    &:not(:first-child) {
      @include icon-bullet(taxonomy);
    }
  }
}

//-----------------------------------------------------------------------------
// .record-related
// related records section
// contains a bunch on smaller resultcard's
//-----------------------------------------------------------------------------

.record-related {
  padding: 2rem 0;
  background: black;
  color: white;

  .row {
    @include flexcards-container;
  }

  .column {
    @include flexcards-item;
  }
}

.see-more {
  float: right;
  font-size: 1.5rem;
}

//-----------------------------------------------------------------------------
// .child-record-related
//-----------------------------------------------------------------------------

.child-records {
  margin-top: 2rem;
  .child-records__list {
    gap: 1em;
    display: flex;
    flex-direction: column;
    margin-block: 1em;
    margin-inline-start: 0;

    .child-records__list-item {
      padding-block: 2em;
      display: flex;
      container: record-item / inline-size;
      flex-direction: column;
      list-style: none;
      .child-records__container {
        display: flex;
        gap: 2em;
      }
    }
  }

  .child-records__thumbnail {
    display: flex;
    flex: 2 1 100%;
    flex-direction: column;
    position: relative;
    line-height: 1.2;
    gap: 2em;

    &:not(:has(img)) {
      width: 100%;
      height: clamp(12.5rem, 12.821rem + 14.286vw, 18.75rem);
      background-image: linear-gradient(
        to right top,
        #d16ba5,
        #c777b9,
        #ba83ca,
        #aa8fd8,
        #9a9ae1,
        #8aa7ec,
        #79b3f4,
        #69bff8,
        #52cffe,
        #41dfff,
        #46eefa,
        #5ffbf1
      );
    }

    &:not(:has(img)) .child-records__title {
      color: #ffffff;
      padding: 0.5em;
    }

    .child-records__thumbnail-picture,
    .child-records__thumbnail-placeholder {
      background-image: linear-gradient(
        to right top,
        #d16ba5,
        #c777b9,
        #ba83ca,
        #aa8fd8,
        #9a9ae1,
        #8aa7ec,
        #79b3f4,
        #69bff8,
        #52cffe,
        #41dfff,
        #46eefa,
        #5ffbf1
      );

      // background-image:  linear-gradient(
      //   224deg in oklab,
      //   oklch(55% .45 350) 4% 4%, oklch(95% .4 95) 89% 89%
      // );
      padding: 0.5em;
      aspect-ratio: 2/1;
    }
  }

  .child-records__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 1.125em;
      + svg {
        align-self: flex-start;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .child-records__details {
    flex: 2 1 100%;
    display: flex;
    flex-direction: column;

    > h3 {
      font-size: 1.25rem;
    }

    .child-records__details-item {
      padding-block-start: 2rem;
      padding-block-end: 2rem;
      background-color: grey(10);

      .record-details__dl {
        dt {
          width: 45%;
          font-size: 12px;
        }
        dd {
          width: 55%;
          font-size: 12px;
        }
      }
    }
  }

  .child-records__description {
    display: flex;
    transition: 0.5s linear ease-in-out;
    flex: 2 1 100%;
    align-self: start;
    > p {
      font-size: 0.7rem;
    }
  }
}

.child-records__details-item-header {
  font-size: 1.25rem;
}

// mph records
.child-records-mph-list {
  display: grid;
  grid: {
    column-gap: 1em;
    row-gap: 2em;
    template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  margin-block: 2rem;
  list-style: none;
  margin-inline-start: 0;

  .child-records-mph__list-item {
    display: grid;
    position: relative;
    grid: {
      auto-rows: auto;
    }
    transition: 0.3s background ease-in-out, 0.3s transform ease-in-out;
    .child-records-mph__container {
      display: grid;
      grid-row-gap: 0.1rem;
      margin-block-start: 0.5rem;
      padding-inline-start: 0.2rem;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      transition: 0.3s background ease-in-out, 0.3s transform ease-in-out;
      z-index: -1; // Ensure the pseudo-element is behind the content
    }
    &:hover:before {
      transform: scale3d(1.06, 1.06, 1);
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.child-records-mph__thumbnail {
  display: block;
  gap: 0;
}

.child-records-mph__thumbnail-picture {
  transition: 0.5s background ease-in-out;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(#d16ba5),
    color-stop(#c777b9),
    color-stop(#ba83ca),
    color-stop(#aa8fd8),
    color-stop(#9a9ae1),
    color-stop(#8aa7ec),
    color-stop(#79b3f4),
    color-stop(#69bff8),
    color-stop(#52cffe),
    color-stop(#41dfff),
    color-stop(#46eefa),
    to(#5ffbf1)
  );
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  padding: 0.5em;
  aspect-ratio: 1/1;
}

.child-records-mph__title {
  display: grid;

  grid-template-columns: 90% 10%;

  .child-records__heading {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1;
    text-transform: none;
    margin: 0;
  }
  .child-records__category,
  .child-records__creation,
  .more-details {
    font-weight: 300;
    font-size: 1rem;
  }
}

.nested {
  margin-inline-start: 5em;
  padding-inline-start: 3em;
  border-inline-start: 2px dashed #000000;
  margin-block-start: 1em;
}
// container query for wrapping child records
@container record-item (max-width: 991px) {
  .child-records__container {
    flex-wrap: wrap;
  }
}
