
//-----------------------------------------------------------------------------
//
// shared inheritance for .resultlist and .resultcard pattern
//-----------------------------------------------------------------------------


@mixin resultclass {
  position: relative;

  &__figure {
    margin: 0;
    background-color: grey(80);
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      width: auto;
      height: auto;
      min-height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      object-fit: cover;
      object-position: center;
    }

    figcaption {
      overflow: hidden;
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
      right: -0.75rem;
      bottom: -0.5rem;
      margin: auto;
      color: rgba(white, 0.25);
      font-size: rem-calc(24);
      @include breakpoint(medium) {
        font-size: rem-calc(32);
      }
      line-height: 1;
      letter-spacing: rem-calc(-1);
      font-weight: 300;
    }
  }


  &__title {
    font-weight: 600;
    font-size: rem-calc(16);
    text-transform: none;
    @include breakpoint(medium) {
      font-size: rem-calc(18);
    }
    line-height: rem-calc(18);
    margin: 0 0 0.25rem 0;
  }

  &__info {
    padding: 0.5rem 0;
    @include breakpoint(medium) {
      padding: 1rem 0;
    }
  }

  &__description {
    font-weight: 300;
    font-size: rem-calc(16);
    line-height: 1rem;
    margin: 0;
  }
  p { margin: 0; }


  @each $type, $props in $recordtypes {
    &--#{$type} &__info {
      // border-color: $c;
    }

    &--#{$type} &__figure {
      background-color: map-get($props, bg);
      @include sm-gradient(map-get($props, grad));
      // border-color: $c;
    }

    &--#{$type} .icon { color: map-get($props, bg); }
  }

  //used as related results, slight smaller
  &--related {
    //background-color: white;
  }

}

@mixin resulthover {
  transition: background-color $timing-defaults, box-shadow $timing-defaults, transform $timing-defaults;

  &:before {
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: background-color $timing-defaults, transform $timing-defaults;
    position: absolute;
    z-index: 0;
  }

  &:hover {
    &:before {
      transform: scale3d(1.06, 1.06, 1);
    }

    img,
    figcaption {
      transform: scale3d(1.06, 1.06, 1);
    }
  }

  &__figure {
    img {
      transition: transform $timing-defaults;
    }

    figcaption {
      transition: transform $timing-defaults;
    }
  }

}


//-----------------------------------------------------------------------------
// .resultlist
// The list view display of a result
//-----------------------------------------------------------------------------

.resultlist {
  @include resultclass;
  border: 1px solid black;
  margin-bottom: -1px;
  color: black;

  &:hover {
    background-color: rgba(black, 0.05);
  }

  &__info {
    padding: 0.5rem;
    @include breakpoint(medium) {
      padding: 1rem;
    }
  }

  &__figure {
    width: 4rem; //aspect 4:3
    height: 3rem; //aspect 4:3
    float: right;
    margin: 1rem;
  }

  &__description {
    line-height: 1.2;
  }

  .icon {
    position: relative;
    top: 0.15rem;
  }

}

//-----------------------------------------------------------------------------
// .resultcard
// The main 'card' display of a result
//-----------------------------------------------------------------------------

.resultcard {
  @include resultclass;
  @include resulthover;
  margin-bottom: 2rem;
  color: black;

  &:hover {
    &:before {
      background-color: rgba(black, 0.05);
    }
  }

  .resultcard__description {
    color: grey(80);
  }

  &__figure {
    width: 100%; //aspect 4:3
    padding-top: 75%; //aspect 4:3
    // border-top: 0.25rem grey(30) solid;
  }

  &__info {
    height: 7 + 0.25rem; // = 2padding, 5 lines text, 1 margin!
    overflow: hidden;
    position: relative;
  }

  &__title {
    .icon {
      float: right;
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
      clear: right;
      font-size: rem-calc(16);
      @include breakpoint(medium) {
        font-size: rem-calc(24);
      }
    }
  }


  // used as related results, slight smaller
  &--related {
    color: white;

    &:hover {
      &:before {
        background-color: grey(80);
      }
    }

  }

  &--related &__info {
    padding: 0.5rem 0;
    color: white;
  }

  &--related &__title {
    font-weight: 500;
    font-size: 1rem;
    color: white;
  }

  // the final related result
  &--seemore {
    text-align: center;
    //background-color: white;

    &.see-more-objects {
      background-image: linear-gradient(135deg, mix(grey(10), $c-teal), mix(grey(10), $c-blue));
      border-color: map-deep-get($recordtypes, objects, bg);
    }

    &.see-more-documents {
      background-image: linear-gradient(135deg, mix(grey(10), $c-teal), mix(grey(10), $c-blue));
      border-color: map-deep-get($recordtypes, documents, bg);
    }

    .resultcard__figure {
      border-color: transparent;
      background-color: transparent;
    }

    svg { // .search-icon
      position: absolute;
      display: block;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      fill: white;
    }

    .resultcard__info {
      color: white;
      font-weight: 600;
      font-size: rem-calc(16);
      line-height: rem-calc(18);
      padding: 0.5rem;

      &:after {
        display: none;
      }
    }
  }

  //used on home page
  // &--collection { }

}
