//-----------------------------------------------------------------------------
// .searchbar - the whole header section containing input, tabs, etc
//-----------------------------------------------------------------------------

.searchbar {
  position: relative;
  color: white;
  background-color: $c-teal;
  @include sm-gradient($c-green $c-teal $c-blue); //default

  @each $type, $props in $recordtypes {
    .#{$type} & {
      background-color: map-get($props, bg);
      @include sm-gradient(map-get($props, grad));
    }
  }

  &__strap {
    font-size: rem-calc(24);
    text-transform: uppercase;
    margin: 1rem 0;
    position: relative;
    top: 1rem;
    @include breakpoint(medium) {
      font-size: rem-calc(40);
      margin: 2rem 0;
    }
  }

  &__intro {
    font-size: rem-calc(18);
    @include breakpoint(medium) { font-size: rem-calc(24); }
    line-height: 1.25;
    font-weight: 500;
    margin: 1rem 0 1.5rem 0;
    @include breakpoint(medium) {
      margin: 2rem 0;
    }
  }

  //searchbox placeholder text gets hidden for small, and this shown instead
  &__placeholder-for-small {
    line-height: 1.25;
    @include breakpoint(medium) { display: none; }
    margin: 1rem 0.125rem -0.5rem;
  }

  &__strap + &__placeholder-for-small,
  &__intro + &__placeholder-for-small  {
    margin: -1rem 0.125rem -0.5rem;
  }

  &--home {
    padding-bottom: 1rem;
  }
}


//-----------------------------------------------------------------------------
// .searchbox - main search input and associated controls
//-----------------------------------------------------------------------------

.searchbox {
  position: relative;
  background-color: white;
  margin: 2rem 0;
  border: 1px solid rgba(black, 0.5);

  &--focussed {
    border: 1px solid $black;
    box-shadow: 0 2px 8px rgba(black, 0.2);
    .icon-search { fill: $c-blue; }
  }

  &--awesomplete-open {}

  &__back + & { // if .searchbox preceded by back btn
    margin-left: rem-calc(58);
  }

  &__back {
    width: rem-calc(58); //3.5 + 2px border
    height: rem-calc(58);
    margin: 2rem 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: rgba(black, 0.1);
    transition: background-color $timing-defaults;

    &:hover {
      background-color: rgba(black, 0.2);
    }
  }

  &__search {
    margin-right: 3.5rem;
    width: calc(100% - 3.5rem);
    height: 3.5rem;
    padding: 1rem;
    font-size: rem-calc(24);
    font-weight: 500;

    &, &:focus {
      border: 0;
      box-shadow: none;
    }

    @include breakpoint(small only) {
      &::placeholder {
        color: transparent;
      }
    }
  }

  &__submit {
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: transparent;
    color: grey(50); // applied to svg fill via magic of currentColor!
    transition: all $timing-defaults;

    &:hover {
      color: $black;
      transform: scale(1.1, 1.1);
    }
  }

  &__filters {
    padding: rem-calc(4 8);
    border-top: 1px solid mix($c-blue, white, 25%);
    display: flex;
  }

  //reused slightly smaller on archive section
  &--archive {
    margin-top: 0;

    .searchbox__search {
      padding: 0.5rem;
      height: 2.5rem;
      font-size: rem-calc(16);
    }

    .searchbox__submit {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}

//-----------------------------------------------------------------------------
// .searchtabs
// ↳ .searchtab - results nav/filter within the top .searchbar
// width is tight on small screens, breakpoints to reduce and hide on smalls.
//-----------------------------------------------------------------------------

.searchtabs {
  overflow: visible;
  display: flex;
}

.searchtab {
  display: block;
  width: 25%;
  padding: 0.75em 0.25em;
  font-weight: 500;
  font-size: rem-calc(14);
  line-height: 1.25; //match icn size
  text-align: center;
  background-color: rgba(black, 0.6);
  color: white;
  @include breakpoint(medium) {
    font-size: rem-calc(18);
  }
  @include breakpoint(large) {
    font-size: rem-calc(22);
  }

  &:hover {
    background-color: black;
  }

  &--active,
  &--active:hover {
    background-color: white;
    color: black;
    border-bottom: 0;
    .searchtab__label { color: black; }
  }

  &[aria-disabled=true],
  &[aria-disabled=true]:hover {
    background-color: black;
    opacity: 0.6;
    cursor: default;
  }

  .icon {
    position: relative;
    display: block;
    margin: auto;
    vertical-align: middle;
    top: -6%;
    // font-size: rem-calc(12);
    @include breakpoint(medium) {
      display: inline-block;
    }
  }

  &__label { color: white; }

  &__count {
    @include small-caps;
    opacity: 0.75;
    @include breakpoint(small only) { display: none; } // no room
  }
}
