{
  "port": 8000,
  "rootUrl": "http://localhost:8000",
  "sitemapUrl": "http://localhost:8000",
  "elasticsearch": {
    "node": ""
  },
  "auth": false,
  "user": "",
  "password": "",
  "JWT_SECRET": "",
  "mediaPath": ""
}
