# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[{*.js,*.json,*.html,*.scss,*.svg}]
indent_style = space
indent_size = 2

[*.scss]
trim_trailing_whitespace = true
