@charset 'utf-8';

// general settings and variables, required before foundation
@import 'base/colour';
@import 'base/type';
@import 'base/helpers';
@import 'base/print';

// foundation _settings file, and component extensions
@import 'base/foundation-settings';
@import 'base/foundation-components';

// our base styles, then all components
@import 'base/general';
@import 'base/layout';
@import 'components/awesomplete';
@import 'components/archive-tree';
@import 'components/betabar';
@import 'components/carousel';
@import 'components/clipboard';
@import 'components/completeness';
@import 'components/control';
@import 'components/description-box';
@import 'components/details';
@import 'components/filter';
@import 'components/home';
@import 'components/loading';
@import 'components/panel';
@import 'components/record';
@import 'components/result';
@import 'components/search';
@import 'components/slick';
@import '../../node_modules/snackbarlightjs/src/css/snackbarlight';
@import 'base/hidden';
