<div id="main-page">
  {{> global/global-header}}
  {{> global/search-main reduced="reduced"}}

  <main class="404-page" id="main-content">

    <section class="section">
      <div class="o-container">

        <h1 class="section__h">Page not found</h1>
        <p>The page you requested doesn't exist, sorry.</p>
        <p>If you were expecting to see something from our collection, then try using the search above.</p>

      </div>
    </section>

  </main>

  {{#if items}}
  <section class="record-related">
    <div class="o-container">
      <h2>Related Documents</h2>
      <div class="o-grid--3cols@s o-grid--4cols@m o-grid--6cols@l">
        {{#each items}}
        <a href="{{link}}">
          <article class="resultcard resultcard--related">
            <figure class="resultcard__figure">
              {{#if figure}}<img src="{{figure }}" alt="" />{{/if}}
            </figure>
            <div class="resultcard__info">
              <h3 class="resultcard__title">{{caption}}</h3>
            </div>
          </article>
        </a>
        {{/each}}
      </div>
    </div>
  </section>
  {{/if}}

  {{> global/global-footer}}
</div>