<main id="main-page">
  {{> global/global-header}}
  {{!-- 
  {{> global/search-main reduced="reduced"}}
   --}}

  <section class="white">
    <div class="row">
      <div class="columns medium-8">
        <h1>ABOUT THE ONLINE COLLECTION</h1>

        <br>

        <h3>What’s in the Science Museum Group collection?</h3>
        
        <p>
          The Science Museum Group cares for a diverse and internationally significant collection of 7.3 million items from science, technology, engineering, medicine, transport and media.
        </p>
        <p>
          <a href="https://group.sciencemuseum.org.uk/about-us/collection/">More about our collection and how we care for it</a>
        </p>

        <h3>What material is published online?</h3>
        
        <p>
          On the Science Museum Group collection website, you can find material published from our object and archival collections.
        </P>
        <p>
          We have over 250,000 objects and 29,000 archival documents published online. 
        </P>
        <p>
          Over the next 5 years, we are undergoing an ambitious project to move to a new <a href="link https://group.sciencemuseum.org.uk/about-us/collection/national-collections-centre/">National Collections Centre</a>. 
        </P>
        <p>
          We also have separate websites to browse:
          <ul>
            <li><a href="http://archives.sciencemuseumgroup.ac.uk/search/simple">Our archive collection in depth</a></li>
            <li><a href="https://smg.koha-ptfs.co.uk/">Our library collection</a></li>
          </ul>
        </p>

        <h3>How to use the website?</h3>
        <p>
          The Science Museum Group collection website enables you to search and browse material published online.
        </p>

        <h3>Searching and filtering</h3>
        <p>
          You can search the collection for:
          <ul>
            <li><a href="/search/objects">Objects </a></li>
            <li><a href="/search/people">People</a></li>
            <li><a href="/search/documents">Documents</a></li>
          </ul>
        </p>

        <h3>Searching and filtering</h3>
        <p>
          You can filter the collection by:
          <ul>
            <li>Category</li>
            <li>Date</li>
            <li>Maker</li>
          </ul>
        </p>

        <h3>Objects on display</h3>
        <p>Where an object is on display in one of our five museums, you will see its location highlighted on the page</p>
        <p>We regularly update objects on display.</p>
        <p>If you are planning a visit to see a specific object, please <a href="https://group.sciencemuseum.org.uk/about-us/contact-us">contact us</a> in advance to make sure that it will be on display.</p>

        <h3>Collection data and API</h3>
        All our collection data and images, where possible, are made avaliable under a <a href="https://creativecommons.org/licenses/">Creative Commons licence</a> and can be accessed via our <a href="https://group.sciencemuseum.org.uk/about-us/collection/using-our-collection-api/">Collection API</a>.


        <!--
        <h3>H3: accordians</h3>
        
        <div class="c-accordion"><h3 class="c-accordion__title"><button class="c-accordion__tab | js-accordion-tab" id="tab-1" aria-expanded="false" aria-controls="tab-content-1">Planning a research visit to Blythe House July 2018 – April 2019</button></h3><div class="c-accordion__content" id="tab-content-1" aria-hidden="false" aria-labelledby="tab-1"><p></p>
<p>Between July 2018 and April 2019 we expect a high volume of requests from researchers to visit the collection held at Blythe House.</p>
<p>To book one of our available research visit places please request an appointment (weekdays only) well in advance by contacting <a href="mailto:scmobjectenquiries@sciencemuseum.ac.uk">scmobjectenquiries@sciencemuseum.ac.uk</a>.</p>
<p>For those who wish to visit multiple times, we may need to limit the number of visits you can make to ensure fair access for all researchers.</p>
<p></p></div><h3 class="c-accordion__title"><button class="c-accordion__tab | js-accordion-tab" id="tab-2" aria-expanded="false" aria-controls="tab-content-2">Other research opportunities until 2023</button></h3><div class="c-accordion__content" id="tab-content-2" aria-hidden="false" aria-labelledby="tab-2"><p></p>
<p>Throughout this period the <a href="http://www.sciencemuseum.org.uk/about-us/collections-and-research/activities-and-projects/dana-centre">Science Museum’s Library and Archive</a>, <a href="https://www.railwaymuseum.org.uk/research-and-archive/plan-research-visit">Search Engine</a> at the National Railway Museum, <a href="https://www.scienceandmediamuseum.org.uk/researchers/research-collection">Insight</a> at the National Science and Media Museum and the <a href="https://www.msimanchester.org.uk/researchers/research-and-study">Collections Centre</a> at the Museum of Science and Industry will remain accessible.</p>
<p>Access to information about items collected by the Science Museum can be found by contacting <a href="mailto:smlinfo@sciencemuseum.ac.uk">smlinfo@sciencemuseum.ac.uk</a>.</p>
<p>Our ambitious project has created opportunities to review the items we hold, enhance our records and digitise a vast part of the collection for the public and researchers to explore on our <a href="https://collection.sciencemuseum.org.uk/">collection website</a>.</p>
<p></p></div><h3 class="c-accordion__title"><button class="c-accordion__tab | js-accordion-tab" id="tab-3" aria-expanded="false" aria-controls="tab-content-3">Future access to the Science Museum Group collection</button></h3><div class="c-accordion__content" id="tab-content-3" aria-hidden="false" aria-labelledby="tab-3"><p></p>
<p>From 2023, the public, researchers and school groups will be able to access the Science Museum Group object collection at the <a href="https://group.sciencemuseum.org.uk/about-us/collection/national-collections-centre/">National Collections Centre</a> in Wiltshire. This new facility will become the home for over 80% of our collection.</p>
<p>Details on how to arrange access will be published closer to the time.</p>
<p>Our collection research facilities at the Museum of Science and Industry, National Science and Media Museum, and the National Railway Museum will continue to be accessible.</p>
<p></p></div></div>
      -->

      </div>
      <div class="columns medium-4">
        <!--sidebar-->
      </div>
    </div>
  </section>

  {{> global/global-footer}}
</main>
