---
type: archivedoc
title: End view of inking printing paper and stereotyping apparatus. Tracing of BAB A/172
fact:
  1:
    key: creator
    value: Babbage, Charles (1792-1871, mathematician)
    link: person.html
  2:
    key: dates
    value: 1834-09 -  1849-03-06
    link: "#"
  3:
    key: part of archive
    value: The Babbage Papers (BAB)
    link: archive.html

details:
  -
    key: Reference
    value: BAB/A/172
    link: '#'
  -
    key: Status
    value: Example
  -
    key: extent
    value: one sheet
  -
    key: Physical description
    value: 'Dimensions: 63 cm x 96 cm'

osd: true
---

{{> global-header}}
{{> search-main reduced="reduced"}}

<div class="page" role="main">

	{{> record-top }}


	<div class="record-imgpanel">

		<div class="record-imgpanel__singleimgwrap">
			<div class="record-imgpanel__singleimg" id="openseadragon">
				<img src="/assets/img/example/babbage/121697_3.png" class="pic" />
			</div>
		</div>

		{{> record-imgpanel__controlbar}}

	</div>

<section class="white">

	<div class="row">
		<div class="columns medium-8">

			<p class="record-description">This is the main description text.</p>
			<p class="record-longdesc">This is the long description text. If there isn't any, can be taken from top level archive description? {{lorem count="5"}}</p>

		</div>
		<div class="columns medium-4">

			<div class="callout">this column is for contextual stuff??</div>

		</div>
	</div>
</section>

	{{> record-details }}

	{{> archive-tree doc="y"}}

</div>

{{> global-footer }}
