<div id="main-page">
  {{> global/global-header}}
  {{> global/search-main reduced="reduced"}}

  <main>
    <a id="main-content" tabindex="0"></a>
    {{> records/record-top }}

    {{#if images}}
    {{#ifmultiple images}}
    {{> records/carousel}}
    {{else}}
    {{>records/single-image}}
    {{/ifmultiple}}
    {{/if}}

    <section class="section">
      <div class="o-container o-grid o-grid--3cols@m">
        <div class="section__content o-grid__span2@m">

          {{> records/record-description}}

        </div>
        <aside class="">

          {{#if related.people}}{{> records/record-related-people }}{{/if}}

          {{#if related.organisations}}{{> records/record-related-organisations }}{{/if}}

          {{#if related.documents}}{{> records/record-related-documents-primary }}{{/if}}

        </aside>
      </div>
    </section>

    {{> records/record-details }}

    {{> records/archive-tree-browser top="y"}}

  </main>

  {{> global/global-footer }}
</div>