<div id="main-page">
  {{> global/global-header}}
  {{> global/search-main reduced="reduced"}}

  <main>

    {{> records/record-top }}

    <section class="section">
      <div class="o-container o-grid o-grid--3cols@m">
        <div class="section__content o-grid__span2@m">

          {{> records/record-description}}
        </div>
        <aside>

          {{#if relatedLinks}}
          <div class="panel panel__text">
            <h2>Related links</h4>
              <ul class="related-links">

                <li>
                  {{> global/icon i="arrow-right" }}
                  <a href="#">
                    link text
                  </a>
                </li>

              </ul>
          </div>
          {{/if}}

        </aside>
      </div>
    </section>

    {{#unless inProduction}}
    {{#if childRecords}}
    {{> records/record-mgroup-records}}
    {{/if}}
    {{/unless}}

  </main>

  {{> global/global-footer }}
</div>
