<main id="main-page">
{{> global/global-header}}

<section class="home-banner">
  {{!-- update /client/styles/components/_home.scss if no of images changes --}}
  {{#each headerImages}}
    <img src="/assets/img/home/feature/1600/{{this}}" srcset="/assets/img/home/feature/800/{{this}} 800w, /assets/img/home/feature/1600/{{this}} 1600w" />
  {{/each}}

  <div class="searchbar searchbar--home">
    <div class="row columns">
      <h1 class="searchbar__strap js-illuminate">{{strap}}</h1>
      {{> global/searchbox}}
      <h2 class="home-banner__intro">{{{intro}}}</h2>
    </div>
  </div>

</section>

<section class="home-features">

  <div class="row columns">

    <div class="featuresteps">
      <div class="featurestep featurestep--1">
        <h4 class="featurestep__title">{{> global/icon i="search" class="featurestep__icon" }} <a href="/search">Search</a></h4>
        <p class="featurestep__desc">Explore over 250,000 <a href="/search/objects">objects</a>, <a href="/search/people">people</a> and <a href="/search/documents">archives</a></p>
      </div>
      <div class="featurestep featurestep--arrow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="none" class="featurestep__arrow">
          <path d="M0 0 100 200 200 0" vector-effect="non-scaling-stroke" class="ttb"></path>
          <path d="M0 0 200 100 0 200" vector-effect="non-scaling-stroke" class="ltr"></path>
        </svg>
      </div>
      <div class="featurestep featurestep--2">
        <h4 class="featurestep__title">{{> global/icon i="filter_list" class="featurestep__icon" }} <a href="/search">Filter</a></h4>
        <p class="featurestep__desc">View by <a href="/search/museum/science-museum">museum</a>, <a href="/search/categories/surgery">theme</a>, or <a href="/search/images">ones with images</a></p>
      </div>
      <div class="featurestep featurestep--arrow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="none" class="featurestep__arrow">
          <path d="M0 0 100 200 200 0" vector-effect="non-scaling-stroke" class="ttb"></path>
          <path d="M0 0 200 100 0 200" vector-effect="non-scaling-stroke" class="ltr"></path>
        </svg>
      </div>
      <div class="featurestep featurestep--3">
        <h4 class="featurestep__title">{{> global/icon i="cc-cc" class="featurestep__icon" }} <a href="/search/image_license">Use</a></h4>
        <p class="featurestep__desc">Reuse our data and the <a href="/search/image_license">images we have released under a Creative Commons license</a></p>
      </div>
    </div>
  </div>

</section>

<section class="home-map">
  <div class="row columns">
    <div class="smg-map">
      <div class="smg-map__imgratio">
        {{> global/smg-map}}    
      </div>
      <div class="smg-map__divider"></div>
      <div class="smg-map__intro">
        <svg class="smg-map__logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="118" height="71" viewBox="0 0 118 71">
          <title>Science Museum Group</title>
          <defs><mask id="logo"><image xlink:href="/assets/img/global/smg-logo.svg" width="118px" height="71px" /></mask></defs>
          <rect x="0" y="0" width="118px" height="71px" fill="black" style="mask:url(#logo)" />
        </svg>
        <p class="smg-map__desc--inline">{{{ smg__description }}}</p>
      </div>
    </div>
    <p class="smg-map__desc--after">{{{ smg__description }}}</p>
  </div>
</section>

<section class="home-cards">
  {{#each collectionThemes}}
    <div class="row">
      <h2 class="home-cards__h columns">{{this.title}}</h2>
      {{#each this.theme}}
        <div class="small-6 medium-3 columns">
            <div class="resultcard resultcard--collection">
              <figure class="resultcard__figure">
                <img src="{{ this.figure }}" />
              </figure>
              <div class="resultcard__info">
                <h4 class="resultcard__title">{{ this.title }}</h4>
                <p class="resultcard__description">{{ this.description }}</p>
                <ul>
                  {{#each this.links}}
                    <li>{{> global/icon i="search" }}
                      <a href="{{ this.link }}">{{ this.title }}</a>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
        </div>
      {{/each}}
    </div>
  {{/each}}
</section>

{{#collectionCarousel}}
  <section class="home-carousel">
    <div class="row">
      <h2 class="home-carousel__h columns">{{this.title}}</h2>
      <div class="columns flickity-buttonholder"></div>
    </div>
    <div class="home-carousel__flickity">
      {{#each this.collection}}
        <div class="{{ this.columns }} home-carousel__cell">
          <a href="{{ this.link }}">
            <div class="resultcard resultcard--dark {{#if type}}resultcard--{{ this.type }}{{/if}}">
              <figure class="resultcard__figure">
                <img src="{{ this.figure }}" />
              </figure>
              <div class="resultcard__info">
                <h4 class="resultcard__title">{{ this.title }}</h4>
                <p class="resultcard__description">{{ this.description }}</p>
              </div>
            </div>
          </a>
        </div>
      {{/each}}
      
    </div>
  </section>
{{/collectionCarousel}}


{{> global/global-footer}}
</main>
