<div id="main-page">
  {{> global/global-header}}

  <main id="main-content">
    <section class="section --spacious home-banner">
      {{!-- update /client/styles/components/_home.scss if no of images changes --}}
      <div class="home-banner__bgimages">
        {{#each headerImages}}
        <img src="/assets/img/home/feature/1600/{{this}}"
          srcset="/assets/img/home/feature/800/{{this}} 800w, /assets/img/home/feature/1600/{{this}} 1600w" alt="" />
        {{/each}}
      </div>

      <div class="searchbar searchbar--home">
        <div class="home-banner__searchbar o-container">
          <h1 class="searchbar__strap js-illuminate">{{strap}}</h1>
          {{> global/searchbox}}
          <p class="home-banner__intro">{{{intro}}}</p>
        </div>
      </div>

    </section>

    <section class="section --spacious home-features">

      <div class="o-container">

        <div class="featuresteps">
          <div class="featurestep featurestep--1">
            <h2 class="featurestep__title">{{> global/icon i="search" class="featurestep__icon" }} <a
                href="/search">Search</a></h2>
            <p class="featurestep__desc">Explore over 380,000 <a href="/search/objects">objects</a>, <a
                href="/search/people">people</a> and <a href="/search/documents">archives</a></p>
          </div>
          <div class="featurestep featurestep--arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="none"
              class="featurestep__arrow">
              <path d="M0 0 100 200 200 0" vector-effect="non-scaling-stroke" class="ttb"></path>
              <path d="M0 0 200 100 0 200" vector-effect="non-scaling-stroke" class="ltr"></path>
            </svg>
          </div>
          <div class="featurestep featurestep--2">
            <h2 class="featurestep__title">{{> global/icon i="filter_list" class="featurestep__icon" }} <a
                href="/search">Filter</a></h2>
            <!--<p class="featurestep__desc">View by <a href="/search/museum/science-museum">museum</a>, <a href="/search/categories/surgery">theme</a>, or <a href="/search/images">ones with images</a></p>-->
            <p class="featurestep__desc">View by museum, theme, or <a href="/search/images">ones with images</a></p>
          </div>
          <div class="featurestep featurestep--arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="none"
              class="featurestep__arrow">
              <path d="M0 0 100 200 200 0" vector-effect="non-scaling-stroke" class="ttb"></path>
              <path d="M0 0 200 100 0 200" vector-effect="non-scaling-stroke" class="ltr"></path>
            </svg>
          </div>
          <div class="featurestep featurestep--3">
            <h2 class="featurestep__title">{{> global/icon i="cc-cc" class="featurestep__icon" }} <a
                href="/search/image_license">Use</a></h2>
            <p class="featurestep__desc">Reuse our data and the <a href="/search/image_license">images we have released
                under a Creative Commons license</a></p>
          </div>
        </div>
      </div>

    </section>

    <section class="home-map section --spacious">
      <div class="o-container">
        <h2 class="section__h">See what’s on display</h2>
        <div class="smg-map">
          <div class="smg-map__imgratio" style="display: flex">
            {{> global/smg-map}}
          </div>
          <div class="smg-map__divider"></div>
          <div class="smg-map__intro">
            <div class="smg-map__logo">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="118" height="71"
                viewBox="0 0 118 71">
                <title>Science Museum Group</title>
                <defs>
                  <mask id="logo">
                    <image xlink:href="/assets/img/global/smg-logo.svg" width="118px" height="71px" />
                  </mask>
                </defs>
                <rect x="0" y="0" width="118px" height="71px" fill="black" style="mask:url(#logo)" />
              </svg>
            </div>
            <p class="smg-map__desc">{{{ smg__description }}}</p>
          </div>
        </div>
      </div>
    </section>

    <section class="home-cards section --spacious o-container">
      {{#each collectionThemes}}

      <h2 class="section__h">{{this.title}}</h2>
      <div class="o-grid o-grid--2cols@s o-grid--4cols@m">
        {{#each this.theme}}

        <article class="resultcard resultcard--collection">
          <figure class="resultcard__figure">
            <img src="{{ this.figure }}" alt="" />
          </figure>
          <div class="resultcard__info">
            <h3 class="resultcard__title">{{ this.title }}</h3>
            <p class="resultcard__description">{{ this.description }}</p>
            <ul class="resultcard__linklist">
              {{#each this.links}}
              <li>
                <a href="{{ this.link }}">{{ this.title }}</a>
              </li>
              {{/each}}
            </ul>
          </div>
        </article>

        {{/each}}
      </div>

      {{/each}}
    </section>

    {{#collectionCarousel}}
    <section class="section --spacious explore-carousel explore-carousel--dark">
      <div class="o-container">
        <h2 class="section__h">{{this.title}}</h2>
        <div class="flickity-buttonholder"></div>
      </div>
      <div class="explore-carousel__flickity">
        {{#each this.collection}}
        <div class="explore-carousel__cell" ">
          <a href=" {{ this.link }}">
          <article class="resultcard resultcard--dark {{#if type}}resultcard--{{ this.type }}{{/if}}">
            <figure class="resultcard__figure">
              <img src="{{ this.figure }}" alt="" />
            </figure>
            <div class="resultcard__info">
              <h3 class="resultcard__title">{{ this.title }}</h3>
              <p class="resultcard__description">{{ this.description }}</p>
            </div>
          </article>
          </a>
        </div>
        {{/each}}

      </div>

    </section>
    {{/collectionCarousel}}
  </main>

  {{> global/global-footer}}
</div>