<div id="main-page">
  {{> global/global-header}}
  {{> global/search-main reduced="reduced"}}

  <main>

    {{> records/record-top }}

    {{#if images}}
    {{#ifmultiple images}}
    {{> records/carousel}}
    {{else}}
    {{>records/single-image}}
    {{/ifmultiple}}
    {{/if}}

    <section class="record-description section">
      <div class="o-container o-grid o-grid--3cols@m">
        <div class="section__content o-grid__span2@m">

          {{> records/record-description}}

        </div>
        <aside>

          {{#if displayLocation}}
          {{> records/ondisplay }}
          {{/if}}

          {{#if displayBox}}{{> records/record-related-groups }}{{/if}}

          {{#if related.people}}{{> records/record-related-people }}{{/if}}
          {{#if related.organisations}}{{> records/record-related-organisations }}{{/if}}
          {{#if related.articles}}{{> records/record-related-articles }}{{/if}}
          <div id="articles"></div>

          {{!-- {{> records/panel-taxonomy}} moved lower to record-details. but panels could also be used here. --}}

        </aside>
      </div>
    </section>

    {{#if (or youtube sketchfab rotational)}}{{> records/mediaplayer}}{{/if}}

    {{#if audioplayer}}
    {{#each audioplayer}}
    {{> records/audioplayer }}
    {{/each}}
    {{/if}}

    {{#if childRecords}}
    {{#if (determineGrouping this.grouping 'MPH')}}
    {{> records/record-mph-records}}
    {{/if}}
    {{/if}}

    {{> records/record-details }}

    {{#if childRecords}}
    {{#if (determineGrouping this.grouping 'SPH')}}
    {{> records/record-sph-records}}
    {{/if}}
    {{/if}}

    {{#if related.objects}}{{> records/record-related-objects }}{{/if}}
    {{#if related.documents}}{{> records/record-related-documents }}{{/if}}

  </main>

  {{> global/global-footer }}
</div>