<main id="main-page">
{{> global/global-header}}
{{> global/search-main reduced="reduced"}}

  <div class="page" role="main">

  <section class="white">

    {{> records/record-top }}
    {{> records/record-system}}

    <div class="row">
      <div class="columns medium-8">

        {{> records/record-description}}
      </div>
      <div class="columns medium-4">

        <!-- <div class="panel">
          <img class="bleed" src="/assets/img/example/babbage/person.jpg">
          <div class="panel__text">
            <h4>Charles Babbage</h4>
            <p>Person image - needs CC, etc?</p>
          </div>
        </div> -->

        {{#if related.people}}{{> records/record-related-people }}{{/if}}
        {{#if related.organisations}}{{> records/record-related-organisations }}{{/if}}
        {{> records/panel-cite }}
      </div>
    </div>
  </section>

    {{#if related.objects}}{{> records/record-related-objects }}{{/if}}
    {{#if related.documents}}{{> records/record-related-documents }}{{/if}}

  </div>

{{> global/global-footer }}
</main>
