<div id="main-page">
{{> global/internal-header}}
{{> global/global-header}}
{{> global/search-main reduced="reduced"}}

  <main class="page">

    <section class="white">

      {{> records/record-top }}

      <div class="row">
        <div class="columns medium-8">

          {{> records/record-description}}
          <!--
          {{#if wikipedia}}
            <div id="wikiSummary" data-name="{{wikipedia}}"></div>
          {{/if}}
          
          {{#if wikipedia}}
            <div id="wikiInfo" data-name="{{wikipedia}}"></div>
          {{/if}}
          -->
        </div>
        <div class="columns medium-4">

          {{#if wikipedia}}
            <div id="wikiImage" data-name="{{wikipedia}}"></div>
          {{/if}}

          {{#if related.people}}{{> records/record-related-people }}{{/if}}
          {{#if related.organisations}}{{> records/record-related-organisations }}{{/if}}

        </div>
      </div>
    </section>

    {{#if related.objects}}{{> records/record-related-objects }}{{/if}}
    {{#if related.documents}}{{> records/record-related-documents }}{{/if}}

  </main>

{{> global/global-footer }}
</div>
