<main id="slideshow" style="background: url({{data.0.image}}) no-repeat center center fixed; height: 100vh; width: 100vw">
  <div id="label">
    <div id="title">{{data.0.title}}</div>
    <div id="uid"><a href={{data.0.link}}>{{data.0.identifier}}</a></div>
  </div>
</main>

<style>
  @font-face {
    font-family: SMGSans;
    src: url(//s3-eu-west-1.amazonaws.com/smgco-images/fonts/SMGSans-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
  }

  main {
    margin: 0;
    padding: 20px;
  }

  #label {
    padding: 15px;
    /* margin: 20px; */
    width: 500px;
    font-family: SMGSans;
    font-weight: bold;
    font-size: 22px;
    color: black;
    background: white;
  }

  #uid {
    font-weight: lighter;
    font-size: 14px;
    margin-top: 2px;
    color: grey;
  }

  #uid a {
    color: grey;
    text-decoration: none;
  }

  #uid a:hover {
    text-decoration: underline;
  }
</style>

<script>
  const stringData = {{{ stringData }}};

  let index = 1;

  setInterval(() => {
    let object = stringData[index];

    if (object.image && object.title && object.link && object.identifier) {
      document.getElementById('slideshow').style.background = "url('" + object.image + "') no-repeat center center fixed";
      document.getElementById('title').innerHTML = object.title;
      document.getElementById('uid').innerHTML = '<a href="' + object.link + '">' + object.identifier + '</a>';
    }

    if (index < stringData.length) {
      index++;
    } else {
      index = 0;
    }
  }, 10000);
</script>