<!doctype html>
<html class="no-js" lang="en">

<head>
  <script src="https://9e27d934dcc0.edge.sdk.awswaf.com/9e27d934dcc0/68da2414f017/challenge.js" defer></script>
  <!-- Data layer-->
  <script>
    window.dataLayer = window.dataLayer || []
    dataLayer.push({{{ layer }}})
  </script>
  <!-- End of Data layer -->
  {{#unless (notInProd inProduction)}}
  <script>

      (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-582PMSZ9');</script>
  {{/unless}}

  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>{{ titlePage }}</title>
  {{#if metaDescription}}
  <meta name="description" content="{{metaDescription}}">
  {{/if}}
  {{#if robotsMeta}}
  <meta name="robots" content="{{robotsMeta}}">
  {{/if}}
  {{#if this.links.self}}
  <link rel="canonical" href="{{this.links.self}}" />
  {{/if}}
  <link rel="stylesheet" href="{{assetPath 'bundle.css'}}">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/img/favicon/android-icon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="apple-touch-icon" href="/assets/img/favicon/apple-icon-180x180.png" sizes="180x180">
  <!-- Twitter Cards -->
  <meta name="twitter:card" content="{{#if images.0.large}}summary_large_image{{else}}summary{{/if}}" />
  <meta name="twitter:site" content="@sciencemuseum" />
  <meta name="twitter:title" content="{{titlePage}}" />
  <meta name="twitter:description" content="{{#if metaDescription}}{{metaDescription}}{{else}}{{description.primary.initialDescription}}{{/if}}" />
  <meta name="twitter:image"
    content="{{#if images.0.large}}{{images.0.large}}{{else}}https://collection.sciencemuseumgroup.org.uk/assets/img/global/smgco-default.png{{/if}}">
  {{#if images.0.title}}
  <meta name="twitter:image:alt" content="{{images.0.title}}" />
  {{/if}}
  <!-- Pinterest -->
  <meta name="p:domain_verify" content="c3693619711d678d84466a75dd28c4c9">
  <!-- Open Graph data -->
  <meta property="og:title" content="{{titlePage}}" />
  <meta property="og:type" content="{{#if ogType}}{{ogType}}{{else}}article{{/if}}" />
  <meta property="og:url" content="{{links.self}}" />
  <meta property="og:site_name" content="Science Museum Group Collection" />
  <meta property="og:locale" content="en_GB" />
  <meta property="og:description" content="{{#if metaDescription}}{{metaDescription}}{{else}}{{description.primary.initialDescription}}{{/if}}" />
  <meta property="og:image"
    content="{{#if images.0.large}}{{images.0.large}}{{else}}https://collection.sciencemuseumgroup.org.uk/assets/img/global/smgco-default.png{{/if}}">
  {{#if images.0.title}}
  <meta property="og:image:alt" content="{{images.0.title}}" />
  {{/if}}
  {{#if dublinCore}}
  <!-- Dublin Core -->
  <meta name="DC.title" content="{{dublinCore.title}}">
  {{#if dublinCore.creator}}<meta name="DC.creator" content="{{dublinCore.creator}}">{{/if}}
  {{#if dublinCore.subject}}<meta name="DC.subject" content="{{dublinCore.subject}}">{{/if}}
  {{#if dublinCore.description}}<meta name="DC.description" content="{{dublinCore.description}}">{{/if}}
  <meta name="DC.publisher" content="{{dublinCore.publisher}}">
  {{#if dublinCore.date}}<meta name="DC.date" content="{{dublinCore.date}}">{{/if}}
  {{#if dublinCore.type}}<meta name="DC.type" content="{{dublinCore.type}}">{{/if}}
  {{#if dublinCore.format}}<meta name="DC.format" content="{{dublinCore.format}}">{{/if}}
  {{#if dublinCore.identifier}}<meta name="DC.identifier" content="{{dublinCore.identifier}}">{{/if}}
  {{#if dublinCore.rights}}<meta name="DC.rights" content="{{dublinCore.rights}}">{{/if}}
  {{#if dublinCore.relation}}<meta name="DC.relation" content="{{dublinCore.relation}}">{{/if}}
  {{/if}}
  {{#if jsonLD}}
  <script type="application/ld+json">
      {{{jsonLD}}}
    </script>
  {{/if}}
  {{#if breadcrumbLD}}
  <script type="application/ld+json">
      {{{breadcrumbLD}}}
    </script>
  {{/if}}
</head>

<body class="{{type}}">
  <!-- Google Tag Manager -->
  {{#unless (notInProd inProduction)}}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-582PMSZ9" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  {{/unless}}
  <!-- End Google Tag Manager -->
  {{{content}}}
  <script src="{{assetPath 'bundle.js'}}"></script>
</body>

</html>
