<div class="panel panel__text panel--cite">
	<h4>Cite this page</h4>
	<p>Science Museum Group</p>
	<input type="text" class="clipboard" value="Cite Text (TBD)" data-clipboard-text="Cite Text (TBD)"></input>
	<p>Accessed 11 May 2016</p>
	
	<h4>Rights</h4>
	<p>
		We support the <a class="textlink" href="http://opendefinition.org/">open</a> release of data and information about our collections.</p>
	<p>
		<a href="https://creativecommons.org/publicdomain/zero/1.0/">
			{{> icon i="cc-zero"}}
		</a><br>
		
		Data in [...] is released as <a class="textlink" href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero</a></p>
		<p>
		<a href="https://creativecommons.org/licenses/by/4.0/">
			{{> icon i="cc-cc"}}
			{{> icon i="cc-by"}}
		</a><br>
		
		All other text content is licensed under a <a class="textlink" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 licence</a>
	</p>
	
	<h4>Download</h4>
	<p>Download data as <a><abbr>json</abbr></a> <a><abbr>csv</abbr></a> <a><abbr>rdf</abbr></a></p>
</div>