//-----------------------------------------------------------------------------
// HELPERS
// mixins, functions and other settings
//-----------------------------------------------------------------------------

$timing-defaults: 0.25s ease-out;

// http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin text-link {
  color: $c-blue;
  border-bottom: 1px solid transparent;
  transition: color $timing-defaults, border-color $timing-defaults;
  &:hover {
    color: mix($c-cyan, $c-blue);
    border-color: mix($c-cyan, $c-blue);
  }
}

@mixin icon-before($icon, $size:1rem) {
  position: relative;
  &:before {
    content: ' ';
    display: block;
    height: $size;
    width: $size;
    background-image: url(/assets/icons/#{$icon}.svg);
    background-size: $size $size;
  }
}

@mixin ul-icons() {
  margin: 0.5rem 0;
  padding: 0;

  li {
    display: block;
    margin: 0.5rem 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin icon-bullet($icon, $size:0.75rem, $left: 0, $top: null) {
  position: relative;
  padding-left: $size * 4/3 + $left;
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0 + $left;
    @if ($top) {
      top: $top;
    } @else {
      top: -$size/5;
    }
    bottom: 0;
    margin: auto; // top, bottom, height, auto = vertical align!
    height: $size;
    width: $size;
    background-image: url(/assets/icons/#{$icon}.svg);
    background-size: $size $size;
  }

}

//certain icons used to represent recordtype should always be a mapped color.
@each $type, $c in $recordtypes {
  .icon-#{$type} {
    color: $c;
  }
}



@mixin small-caps {
  font-size: 75%;
  text-transform: uppercase;
}

@mixin control-base {
  border: 1px grey(20) solid;
  box-shadow: 0 1px 1px rgba(black, 0.1);
  border-radius: 2px;
  background: white;
}

// used in imgpanel controls currently
@mixin toolbar-button {
  float: right;
  display: block;
  color: white;
  border: 1px white solid;
  border-color: inherit;
  margin: rem-calc(-1 0 8 -1);
  padding: 1rem;
  &:hover { background-color: black;}
}
