//-----------------------------------------------------------------------------
// .row
// ↳ .searchresults & .filtercolumn - are both quasi-columns,
// with filtercolumn collapsing to positioned or hidden states
//-----------------------------------------------------------------------------

.searchresults {
	padding: 0;
	margin: 0 !important;
	position: relative;

	&__column {
		@include grid-column(6);
		@include grid-column-end;
		@include breakpoint(medium) {
			@include grid-column(4);
			@include grid-column-end;
		}
		@include breakpoint(large) {
			@include grid-column(3);
			@include grid-column-end;
		}

	}
	&__list {
		@include grid-column();
	}

	&--filtersactive {
		@include breakpoint(medium) {
			@include grid-col-size(8);
		}
		@include breakpoint(large) {
			@include grid-col-size(9);
		}

		.searchresults__column {
			@include breakpoint(medium) {
				@include grid-column(6);
				@include grid-column-end;
			}
			@include breakpoint(large) {
				@include grid-column(4);
				@include grid-column-end;
			}
		}
	}
}

.filtercolumn {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	position: relative;
	display: none;

	&--filtersactive {
		display: block;
	}
	// positioned on top for small screens, col on right for larger
	@include breakpoint(small only) {
		position: absolute;
		z-index: 1;
		right: 1rem;
		left: 1rem;
		padding: 0;
	}
	@include breakpoint(medium) {
		float: right;
		@include grid-col-size(4);
	}
	@include breakpoint(large) {
		@include grid-col-size(3);
	}

}


//-----------------------------------------------------------------------------
//
// shared inheritance for .resultlist and .resultcard pattern
//-----------------------------------------------------------------------------


@mixin resultclass {
	position: relative;
	color: black;
	background-color: white;
	overflow: hidden;
	box-shadow: 0 2px 8px rgba(black,0.2);
	transition: background-color $timing-defaults, box-shadow $timing-defaults, transform $timing-defaults;
	&:hover {
		//background-color: grey(20);
		box-shadow: 0 2px 8px rgba(black,0.4);
		//transform: scale3d(1.02,1.02,1);
		//top: -12px;
		transform: translate3d(0, -2px, 0);
	}

	&__figure {
		margin: 0;
		background-color: grey(80);
		position: relative;
		overflow: hidden;

		img {
			position: absolute;
			width: 100%;
			height: auto;
			max-width: 100%;
			max-height: 100%;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}

		figcaption {
			overflow: hidden;
			position: absolute;
			top: 0.25rem;
			left: 0.25rem;
			right: -0.75rem;
			bottom: -0.5rem;
			margin: auto;
			color: rgba(white, 0.25);
			font-size: rem-calc(32);
			line-height: 1;
			letter-spacing: rem-calc(-1);
			font-weight: 300;
		}
	}


	&__title {
		font-weight: 600;
		font-size: rem-calc(16);
		line-height: rem-calc(18);
		margin: 0 0 0.25rem 0;
		color: grey(90);
	}
	&__info {
		padding: 1rem;
	}
	&__description {
		font-weight: 400;
		font-size: rem-calc(14);
		line-height: 1rem;
		color: grey(80);
		margin: 0;
	}
	p { margin: 0; }


	@each $type, $c in $recordtypes {
		&--#{$type} {
			border-color: $c;
			.resultcard__figure {
				background-color: $c;
			}
			.icon { color: $c; }
		}
	}

	//used as related results, slight smaller
	&--related {
		//background-color: white;
	}

}

//-----------------------------------------------------------------------------
// .resultlist
// The list view display of a result
//-----------------------------------------------------------------------------

.resultlist {
	@include resultclass;
	//border-bottom: 1px grey(30) solid;
	border-left: 0.25rem grey(30) solid;
	margin-bottom: 1px;

	&__figure {
		width: 4rem; //aspect 4:3
		height: 3rem; //aspect 4:3
		float: right;
		margin: 1rem;
	}
	.icon {
		position: relative;
		top: 0.15rem;
	}

}

//-----------------------------------------------------------------------------
// .resultcard
// The main 'card' display of a result
//-----------------------------------------------------------------------------

.resultcard {
	@include resultclass;
	margin-bottom: 1rem;
	border-bottom: 0.25rem grey(30) solid;

	&__figure {
		width: 100%; //aspect 4:3
		padding-top: 75%; //aspect 4:3
		border-bottom: 1px white solid;
	}

	&__info {
		height: 7 + 0.25rem; // = 2padding, 5 lines text, 1 margin!
		overflow: hidden;
		position: relative;
		&:after { // fade out overflow nicely
			position: absolute;
			bottom: 0;
			height: 1rem;
			left: 0;
			right: 0;
			background-image: linear-gradient(rgba(white,0), white);
			content: '';
		}
	}

	&__title {
		.icon {
			float: right;
			margin-left: 0.5rem;
			margin-bottom: 0.5rem;
			clear: right;
		}
	}


	//used as related results, slight smaller
	&--related {
		//background-color: white;
	}

	//used on home page, slight bigger
	&--collection {
	}
	&--collection &__title {
		font-size: 1.5rem;
	}
	&--collection &__description {
		font-size: 1rem;
		line-height: rem-calc(18);
	}

}



//-----------------------------------------------------------------------------
// .filtercolumn
// ↳ .filterpanel
//   ↳ .filter
//-----------------------------------------------------------------------------

.filterpanel {
	background-color: white;
    border: 1px grey(20) solid;
	box-shadow: 0 2px 8px grey(20);
	@include breakpoint(small only) {
		position: absolute;
		top: -1.5rem;
		width: 100%;
		box-shadow: 0 8px 16px rgba(black, 0.3);
	}
}

.filter {
	padding: 0.5rem;
    & + & { border-top: 1px grey(20) solid; }

	&__name {
		position: relative;
		padding-left: 1.5rem;
		.icon {
			font-size: rem-calc(24);
			position: absolute;
			left: -0.25rem;
			.filter--open & {
				transform: rotate(90deg);
			}
		}

		@include icon-bullet(arrow_right,1.5rem);
	}
	&__options {
		display: none;
		font-size: rem-calc(12);
		overflow: auto;
		input {
			margin-bottom: 0;
		}
		ul, li {
			display: block;
			margin: 0;
			padding: 0;
		}
		li {
			padding-top: rem-calc(6);
			padding-left: rem-calc(4);
		}
		label {
			margin: 0;
			line-height: rem-calc(16);
			&:hover { color: mix($c-cyan, $c-blue) }
		}

	}
	&__count {
		color: grey(50);
		@include small-caps;
		padding-left: 0.5em;
	}
	&--active, &--open {
		.filter__options {
			display: block;
		}
	}

	&--open {
		.filter__name {
			@include icon-bullet(arrow_down,1.5rem);
		}
	}

	&--active {
		//border-left: 1px mix($c-cyan, $c-blue) solid;
		background-color: mix(grey(5), $c-cyan,95);
		.filter__name {
			font-weight: 500;
			@include icon-bullet(cancel,1.5rem);
		}
	}

	&:hover {
		//background-image: linear-gradient(white, grey(5));
		a { color: mix($c-cyan, $c-blue) }
	}


	&__daterange {
		label {
			float: left;
			width: 50%;
			margin-right: -1px;
			padding: 0.125rem 0;
		}

	}
}




//-----------------------------------------------------------------------------
// other page .control 's
//-----------------------------------------------------------------------------

.controls { //.row
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.control {
	@include control-base;
	display: inline-block;
	height: rem-calc(40);
	position: relative;

	&__label {
		float: left;
		line-height: rem-calc(16);
		padding: rem-calc(12 16);
	}
	&__buttons {
		float: left;
	}
	&__buttons:last-child {
		//margin-right: -1px;
	}
	&__button {
		float: left;
		height: rem-calc(40);
		margin-top: -1px;
		margin-right: -1px;
		border: 1px grey(20) solid;
		&:not(&--active):hover {
			border: 1px grey(30) solid;
			background-image: linear-gradient(white, grey(10));
		}
		.icon {
			float: left;
			font-size: rem-calc(24);
			margin: rem-calc(8);
		}
		&--active,&--active:hover {
			background-color: grey(10);
			color: grey(50);
		}

		label { //alt posiiton of label
			float: left;
			line-height: rem-calc(16);
			padding: rem-calc(16);
		}
	}

	&--filters {
		width: 100%;
		.control__button { float:right; }
	}
	&--active:after {
		content: '';
		position: absolute;
		bottom: -1rem;
		left: 50%;
		margin-left: -1rem;
		width: 2rem;
		height: 1rem;
		background-image: url(/assets/img/filter-drop.svg);
		background-repeat: no-repeat;
	}

}


.pagination { //like a control
	@include control-base;
	float: right;
	font-size: 0; // remove inline-block inbetween space
	font-weight: 500;
	li {
		line-height: rem-calc(16);
		margin-right: -1px;
	}
	@include breakpoint(medium) { text-align: center; }
	li + li {
	}
	a, .current {
		border: 1px grey(20) solid;
		border-width: 0 1px;
	}
	.current {
		background: grey(20);
	}
	a:hover {
		border-color: grey(30);
		background-image: linear-gradient(white, grey(10));
	}
}

// rpp= results per page, but not quite worth inheriting from .control
.control--rpp {
	float: left;

	&__label {
	}

	select {
		width: auto;
		height: rem-calc(40);
		margin-top: -1px;
		margin-right: -1px;
		line-height: 1rem;
		padding-right: 1.5rem;
		border-radius: 0 2px 2px 0;
		background-position: right -1rem center; //need to check support
		&:hover {
			// because F is already using bg image for disclosure triangle, to add extra bg on hover means retrieving existing properties first.
			background-image:
			url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb%28138, 138, 138%29"></polygon></svg>'), linear-gradient(white, grey(10));
			background-size: 9px 6px, cover;
			background-origin: content-box, border-box;
			background-repeat: no-repeat, repeat;
		}
	}
}


//-----------------------------------------------------------------------------
// home page variation
//-----------------------------------------------------------------------------

.home-collections {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
