{{#each children}}
<li data-has-children={{#if children}}true{{else}}false{{/if}}>
  <div class="archive-tree__label {{current this}}">
    {{#if children}}
    <button
      type="button"
      aria-controls="children-{{id}}"
      aria-expanded="{{#if current}}true{{else}}false{{/if}}"
      aria-label="Show child records"></button>
    {{else}}
    <span class="archive-tree__leafnode"></span>
    {{/if}}
    <a class="" href="{{getlink this}}">{{identifier}} {{summary_title}}</a>
  </div>
  {{#if children}}
  <ul class="children" data-current="{{current this}}" id="children-{{id}}"
    {{#if current}}{{else}}hidden{{/if}}>
    {{> records/archive-tree-children}}
  </ul>
  {{/if}}
</li>
{{/each}}