<ul>
  <li aria-expanded="true">
    <div class="archive-tree__label {{current this}} archive-tree__label--root archive-tree--fond">
      <button
        type="button"
        aria-controls="archive-root"
        aria-expanded="true"
        aria-label="Show archive records"></button>
      <a class="" href="{{getlink this}}">{{this.tree.summary_title}}</a>
    </div>
    <ul id="archive-root">
      {{#each tree.children}}
      <li>
        <div class="archive-tree__label {{current this}}">

          {{#if children}}
          <button
            type="button"
            aria-controls="children-{{id}}"
            aria-expanded="{{#if (current this) }}true{{else}}false{{/if}}"
            aria-label="Show child records"></button>
          {{else}}
          <span class="archive-tree__leafnode"></span>
          {{/if}}

          <a class="summary" href="{{getlink this}}">{{identifier}} {{summary_title}}</a>
        </div>

        {{#if children}}
        <ul class="children" id="children-{{id}}" {{#if (current this) }}{{else}}hidden{{/if}}>
          {{> records/archive-tree-children}}
        </ul>
        {{/if}}

      </li>
      {{/each}}
    </ul>
  </li>
</ul>