<section class="section" role="complementary" aria-label="Audio file">
  <div class="o-container o-blocks">
    <div class="c-audioplayer">
      <div class="c-audioplayer__thumb">
        <button class="c-audioplayer__button" aria-label="Play audio">
          {{#if thumbnail}}<img class="" src="{{thumbnail}}" alt="" />{{else}}
          <svg height="248" width="248" viewBox="0 0 248 248" xmlns="http://www.w3.org/2000/svg">
            <g fill-rule="evenodd" fill="rgba(0,0,0,0.25)">
              <path
                d="M8 67h8v114H8zM24 89h8v70h-8zM40 78h8v92h-8zM56 49.25h8v149.5h-8zM72 57h8v134h-8zM88 78h8v92h-8zM104 96.25h8v55.5h-8zM120 108.75h8v30.5h-8zM184 119h8v10h-8zM136 100h8v48h-8zM200 114.5h8v19h-8zM152 58.75h8v130.5h-8zM216 75h8v98h-8zM168 86.5h8v75h-8zM232 81.75h8v84.5h-8z" />
            </g>
          </svg>
          {{/if}}
        </button>
      </div>
      <div class="c-audioplayer__main">
        <!-- {{ interviewee }} -->
        <h4 class="c-audioplayer__title">{{ title }}</h4>
        <p class="c-audioplayer__description">{{ description }}</p>
        <audio src="{{audiofile}}" controls />
      </div>
    </div>

    {{#if transcript}}
    <details class="c-accordion" style="margin-top: var(--smg-block-size)">
      <summary>Transcript</summary>
      <div class="c-accordion__content">
        {{{ transcript }}}
      </div>
    </details>
    {{/if}}
  </div>
</section>