<div class="record-imgpanel">
  <div class="row columns record-imgpanel__thumbs">
    {{#if images}}
      {{#each images}}
        <img src="{{this.thumb}}" class="record-imgpanel__thumb {{#if @first}}record-imgpanel__thumb--selected{{/if}}" />
      {{/each}}
    {{/if}}
  </div>
  <div class="carousel">
    {{#if images}}
      {{#each images}}
        <img data-osd="{{this.zoom}}" data-flickity-lazyload="{{this.medium}}" class="carousel__image" />
      {{/each}}
    {{/if}}
  </div>

  <div class="openseadragon" id="openseadragon"></div>

  {{> records/record-imgpanel__controlbar}}
</div>
