<div class="record-imgpanel">
  <div class="row columns record-imgpanel__thumbs">
    {{#if images}}
      {{#each images}}
        <img src="{{this.thumb}}" class="record-imgpanel__thumb {{#if @first}}record-imgpanel__thumb--selected{{/if}}" />
      {{/each}}
    {{else}}
      {{#each slides}}
          <img src="/assets/img/example/babbage/{{ this }}" class="record-imgpanel__thumb {{#if @first}}record-imgpanel__thumb--selected{{/if}}" />
      {{/each}}
    {{/if}}
  </div>
  <div class="carousel">
    {{#if images}}
      {{#each images}}
        <img src="{{this.large}}" class="carousel__image" />
      {{/each}}
    {{else}}
      {{#each slides}}
        <img data-flickity-lazyload="/assets/img/example/babbage/{{ this }}" class="carousel__image" />
      {{/each}}
    {{/if}}
  </div>

  <div class="openseadragon hidden" id="openseadragon"></div>

  {{> records/record-imgpanel__controlbar}}
</div>
