<div class="record-imgpanel">
  <div class="row columns record-imgpanel__slickthumbs">
    {{#if images}}
      {{#each images}}
        <img src="{{this.thumb}}" class="carousel-thumb" />
      {{/each}}
    {{else}}
      {{#each slides}}
        <div class="thumbnail">
          <img src="/assets/img/example/babbage/{{ this }}" class="carousel-thumb" />
        </div>
      {{/each}}
    {{/if}}
  </div>
  <div class="record-imgpanel__slickwrap">
    <div class="record-imgpanel__slick carousel">
      {{#if images}}
        {{#each images}}
          <img src="{{this.large}}" class="carousel-image" />
        {{/each}}
      {{else}}
        {{#each slides}}
          <img src="/assets/img/example/babbage/{{ this }}" class="carousel-image" />
        {{/each}}
      {{/if}}
      <button id="left-button" aria-label="left"></button>
      <button id="right-button" aria-label="right"></button>
    </div>
  </div>

  <div class="record-imgpanel__singleimgwrap hidden record-imgpanel__dragon">
    <div class="record-imgpanel__singleimg" id="openseadragon"></div>
  </div>

  {{> records/record-imgpanel__controlbar}}
</div>
