  <div class="panel">
    <!--<img class="bleed" src="/assets/img/example/locations/scimus.png">-->
    <div class="panel__text">
      <h2>{{> global/icon i="room" size="16" }} On display</h2>
      <p><a href="{{displayLocation.link}}">{{displayLocation.museum}}: {{displayLocation.gallery}} </a></p>
      <p>
        If you are visiting to see this object, <a href="https://www.sciencemuseumgroup.org.uk/our-work/our-collection/ask-about-our-collection">please contact us</a> in advance to make sure that it will be on display.
      </p>
    </div>
  </div>
