  <div class="panel">
    <!--<img class="bleed" src="/assets/img/example/locations/scimus.png">-->
    <div class="panel__text">
      <h4>{{> global/icon i="room" size="16" }} On display</h4>
      <a href="{{museumlinks displayLocation.museum}}">{{displayLocation.museum}}: {{displayLocation.gallery}} </a>
      <p class="visit-contact">
        If you are visiting to see this object, <a href="https://group.sciencemuseum.org.uk/about-us/contacts">please contact us</a> in advance to make sure that it will be on display.
      </p>
    </div>
  </div>
