<div class="panel panel__text panel--cite">
  <h4>Cite this page</h4>
  <input type="text" class="clipboard" value="Science Museum Group. {{title}}. {{getinventorynumber details}}Science Museum Group Collection Online. Accessed {{gettodaysdate}}. {{links.self}}." data-clipboard-text="Science Museum Group. {{title}}. {{getinventorynumber details}}Science Museum Group Collection Online. Accessed {{gettodaysdate}}. {{links.self}}."></input>

  <h4>Rights</h4>
  <p>
    We support the <a class="textlink" href="http://opendefinition.org/">open</a> release of data and information about our collections.</p>
  <p>
    <a href="https://creativecommons.org/publicdomain/zero/1.0/">
      {{> global/icon i="cc-zero"}}
    </a><br>

    Data in [...] is released as <a class="textlink" href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero</a></p>
    <p>
    <a href="https://creativecommons.org/licenses/by/4.0/">
      {{> global/icon i="cc-cc"}}
      {{> global/icon i="cc-by"}}
    </a><br>

    All other text content is licensed under a <a class="textlink" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 licence</a>
  </p>

  <h4>Download</h4>
  <p>Download data as <a><abbr>json</abbr></a> <a><abbr>csv</abbr></a> <a><abbr>rdf</abbr></a></p>
</div>
