<section class="record-details">
  <div class="row">
    <div class="columns medium-8">
      <h2>Details</h2>

      {{#each details}}
        <dl class="record-details__dl details-{{classname this.key}}">
          <dt>{{ this.key }}:</dt>
          <dd>
            {{#each this.value}}
              {{#if this.link}}<a href="{{this.link}}" title="[link to filtered search results]">{{/if}}
                {{{ this.value }}}
              {{#if this.link}}</a>{{/if}}
            {{else}}
              {{#if link}}<a href="{{link}}" title="[link to filtered search results]">{{/if}}
                {{{ this.value }}}
              {{#if link}}</a>{{/if}}
            {{/each}}
          </dd>
        </dl>
      {{/each}}

    </div>
    <div class="columns medium-4">
      {{> records/panel-cite }}
    </div>
  </div>
</section>
