  <section class="record-top {{class}}">
    <div class="row">
      <div class="large-12 columns">
      <h1 class="record-top__title">{{#if level}}{{> global/icon i=level}}{{else}}{{> global/icon i=type}}{{/if}} {{normalise title this}} {{#ifpage 'person'}}<span class="record-top__date">{{date}}</span>{{/ifpage}}</h1>
      {{#each fact}}
        <dl class="record-top__dl fact-{{classname this.key}}">
          <dt>{{ this.key }}:</dt>
          {{#if this.place}}
            <dd>
              {{#if this.date.value}}
                {{#if this.date.link }}<a href="{{this.date.link}}">{{/if}}
                {{ this.date.value }}
                {{#if this.date.link }}</a>{{/if}}
              {{/if}}

              {{#if this.date.value}}
                {{#if this.place.value}}
                  in
                {{/if}}
              {{/if}}

              {{#if this.place.value}}
                <a href="{{this.place.link}}">{{ this.place.value }}</a>
              {{/if}}
            </dd>
          {{else}}
            {{#each this.value}}
              <dd>{{#if this.link }}<a href="{{this.link}}">{{/if}}{{ this.value }}{{#if this.link }}</a>{{/if}}</dd>
            {{else}}
              <dd>{{#if this.link }}<a href="{{this.link}}">{{/if}}{{ this.value }}{{#if this.link }}</a>{{/if}}</dd>
            {{/each}}
          {{/if}}
        </dl>
      {{/each}}
      </div>
    </div>
  </section>
