<div class="panel panel__text">
  {{#if aiRelated.articles.oands}}
  <h2>Related Articles (Beta)</h2>
  <div class="museum-articles">
    <h3>Objects and Stories</h3><p>
    <ul class="related-article">
      {{#each aiRelated.articles.oands}}
      <li>
        {{> global/icon i="external" }}
        <a href={{this.url}}>
          {{this.title}}
        </a>
      </li>
      {{/each}}
    </ul>
    <br>
    {{/if}}
    {{#if aiRelated.articles.blogs}}
    <h3>Blogs</h3>
    <ul class="related-article"><p>
      {{#each aiRelated.articles.blogs}}
      <li>
        {{> global/icon i="external" }}
        <a href={{this.url}}>
          {{this.title}}
        </a>
      </li>
      {{/each}}
    </ul>
    <br>
    {{/if}}
    {{#if aiRelated.articles.jornal}}
    <h3>Journal</h3>
    <ul class="related-article"><p>
      {{#each aiRelated.articles.journal}}
      <li>
        {{> global/icon i="external" }}
        <a href={{this.url}}>
          {{this.title}}
        </a>
      </li>
      {{/each}}
    </ul>
    {{/if}}
  </div>
</div>