<section class="section o-container group-records">

  {{#each childRecords}}
  {{#if links}}
  <a href="{{links.self}}" aria=label="{{title}}">
    <article class="resultcard resultcard--group">

      <figure class="resultcard__figure">
        {{#if images}}
        <img src="{{firstImage images 0 'card' }}" class="" alt="{{title}}" />
        {{else}}
        <figcaption role="presentation">
          {{! > global/icon "object" }}{{!-- Usually we show icon for the record type, but don't have that data. --}}
          {{ this.title }}{{!-- Usually custom figcaption is supplied --}}
        </figcaption>
        {{/if }}
      </figure>

      <div class="resultcard__info">

        <h3 class="resultcard__title">
          {{title}}
        </h3>

        {{#if creation}}
        <p class="group-records__creation">{{creation}}</p>
        {{/if}}

      </div>
    </article>

  </a>
  {{/if}}
  {{/each}}

  <!-- ! A decision should be made at some point in the future as to whether there should be a cap on the child records and a show more button leading to a filtered search result. Note that the below doesn't work-->
  <!-- See record-mph-records for example of see more btn functionality, will need tweaking -->

</section>