<ul class="nested" style="display:flex; flex-direction: column;">
    {{#if children}}
    {{#each children}}
    <li class="child-records__list-item">
        <div class="child-records__container">
            <div class="child-records__thumbnail">

                {{#if images}}
                {{#each images}}
                <img src="{{this.medium}}" class="child-records__thumbnail-picture" alt="{{this.title}}" />
                {{/each}}
                {{/if }}
                <div class="child-records__title">
                    <h3 class="">
                        {{this.title}}</h3>
                    <svg class="icon icon-objects">
                        <use xlink:href="/assets/icons/symbol/svg/sprite.symbol.svg#objects"></use>
                    </svg>
                    {{#if parentTitle}}
                    Part of: {{parentTitle}}
                    {{/if}}
                </div>
            </div>
            <div class="child-records__details">

                <div class="child-records__details-item">
                    <div class="row">
                        <div class="columns">
                            <h3 class="child-records__details-item-header">Details</h3>
                            {{#each details}}
                            <dl class="record-details__dl details-{{classname this.key}}">
                                <dt>{{key}}:</dt>
                                {{#each this.value}}
                                <dd>
                                    {{#if this.link}}
                                    <a href="{{this.link}}" title="[link to filtered search results]">{{/if}}
                                        {{{ this.value }}}
                                        {{#if this.link}}</a>{{/if}}
                                    {{comma this ../this.value false}}
                                </dd>
                                {{else}}
                                <dd>
                                    {{#if link}}
                                    <a href="{{link}}" title="[link to filtered search results]">{{/if}}
                                        {{{ this.value }}}
                                        {{#if link}}</a>{{/if}}
                                </dd>
                                {{/each}}
                            </dl>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="child-records__description">
                {{#if description.primary}}
                {{#each description.primary.initialDescription }}
                <p>
                    {{truncateDescription this}}
                </p>
                {{/each}}
                {{/if}}

            </div>
        </div>
        {{#if nested}}
        {{> records/record-nested-child-records}}

        {{/if}}
    </li>
    {{/each}}
    {{/if}}
</ul>