<section class="mph-records row">
  <div class="mph-records__grid">
    {{#each childRecords}}
    {{#if links}}
    <a href={{links.self}}>
      <article class="resultcard resultcard--objects mph-records__resultcard">

        <figure class="resultcard__figure">
          {{#if images}}
          <img src="{{firstImage images 0 'card' }}" class="" alt="{{title}}" />
          {{/if }}
        </figure>

        <div class="resultcard__info">

          <h3 class="resultcard__title">
            {{title}}
          </h3>

          {{#if creation}}
          <p class="mph-records__creation">{{creation}}</p>
          {{/if}}

        </div>
      </article>

    </a>
    {{/if}}
    {{/each}}

    {{!-- template for 'see more' if long results. maybe paginate after 23 to keep whole rows?

    <a href="#">
      <article class="resultcard mph-records__resultcard resultcard--seemore resultcard--objects">
        <figure class="resultcard__figure">{{> global/icon i="search" size="48" }}</figure>
        <div class="resultcard__info">
          <h3 class="resultcard__title">See more</h3>
        </div>
      </article>
    </a>

    --}}

  </div>
</section>
