<section class="record-related">
  <div class="nested row">
    <h2 class="columns">Related Documents</h2>

    {{#each related.documents}}
      {{#formatrelated ../related.documents @index this}}
        <div class="large-2 medium-3 small-4 columns end">
          <a href="{{link}}">
            <article class="resultcard resultcard--related {{#if type}}resultcard--{{ this.type }}{{/if}}">
              <figure class="resultcard__figure">
                {{#if this.attributes.figure}}<img src="{{ this.attributes.figure }}" alt="" /> {{/if}}
              </figure>
              <div class="resultcard__info">
                <h3 class="resultcard__title">{{this.attributes.summary_title}}</h3>
              </div>
            </article>
          </a>
        </div>
      {{/formatrelated}}
    {{/each}}

    {{#seemore related.documents}}
      <div class="large-2 medium-3 small-4 columns end">
        <a href="/search/documents/makers/{{this.title}}">
          <article class="resultcard resultcard--seemore see-more-documents">
            <figure class="resultcard__figure">{{> global/icon i="search" size="48" }}</figure>
            <div class="resultcard__info">
              <h3 class="resultcard__title">See more related documents</h3>
            </div>
          </article>
        </a>
      </div>
    {{/seemore}}

  </div>
</section>
