<section class="section record-related">
  <div class="o-container">
    <h2 class="section__h">Related Objects</h2>
    <div class="o-grid o-grid--3cols@s o-grid--4cols@m o-grid--6cols@l">
      {{#each related.objects}}
      {{#formatrelated ../related.objects @index this}}
      <a href="{{link}}" aria-label="{{this.attributes.summary_title}}">
        <article class="resultcard resultcard--related {{#if type}}resultcard--{{ this.type }}{{/if}}">
          <figure class="resultcard__figure">
            {{#if this.attributes.figure}}<img src="{{ this.attributes.figure }}" alt="" /> {{/if}}
          </figure>
          <div class="resultcard__info">
            <h3 class="resultcard__title">{{this.attributes.summary_title}}</h3>
          </div>
        </article>
      </a>

      {{/formatrelated}}
      {{/each}}

      {{#isequal this.type 'people' this}}
      {{#seemore related.objects}}

      {{#ifcreator related.objects}}
      <a href="/search/objects/makers/{{normalise this.title this}}" aria-labelledby="seemore-label">
        {{else}}
        <a href="/search/objects?q=%22{{normalise this.title this}}%22" aria-labelledby="seemore-label">
          {{/ifcreator}}
          <article class="resultcard resultcard--seemore see-more-objects">
            <figure class="resultcard__figure">{{> global/icon i="search" size="48" }}</figure>
            <div class="resultcard__info">
              <h3 class="resultcard__title" id="seemore-label">See more related objects</h3>
            </div>
          </article>
        </a>

        {{/seemore}}
        {{/isequal}}
    </div>
  </div>
</section>