  <section class="record-related">
    <div class="nested row">
      <h2 class="columns">Related Objects</h2>

      {{#each related.objects}}
        {{#formatrelated ../related.objects @index this}}
          <div class="large-2 medium-3 small-4 columns">
            <a href="{{link}}">
              <div class="resultcard resultcard--related {{#if type}}resultcard--{{ this.type }}{{/if}}">
                <figure class="resultcard__figure">
                  {{#if this.attributes.figure}}<img src="{{ this.attributes.figure }}" /> {{/if}}
                </figure>
                <div class="resultcard__info">
                  <h4 class="resultcard__title">{{this.attributes.summary_title}}</h4>
                </div>
              </div>
            </a>
          </div>
        {{/formatrelated}}
      {{/each}}

      {{#isequal this.type 'people' this}}
        {{#seemore related.objects}}
          <div class="large-2 medium-3 small-4 columns">
            <a href="/search/objects?filter[makers]={{normalise this.title this}}">
              <div class="resultcard resultcard--seemore see-more-objects">
                <figure class="resultcard__figure">{{> global/icon i="search" size="48" }}</figure>
                <div class="resultcard__info">
                  <h4 class="resultcard__title">See more related objects</h4>
                </div>
              </div>
            </a>
          </div>
        {{/seemore}}
      {{/isequal}}

    </div>
  </section>
