<div class="panel group-info-box">
    <!--<img class="bleed" src="/assets/img/example/locations/scimus.png">-->
    <div class="panel__text">
        <h2>{{> global/icon i="room" size="16" }}Part Of Group:</h2>

        <dl>
            <dt>Title:</dt>
            <dd>
                {{displayBox.title}}

            </dd>
        </dl>
        <p>
        <dl>
            <dt>Id:</dt>
            <dd>
                {{displayBox.uid}}
            </dd>
        </dl>
        </p>
    </div>
</div>