<section class="record-related">
  <div class="nested row">
    <h2 class="columns">Related Documents</h2>

    {{#each related.documents}}
      <div class="large-2 medium-3 small-4 columns end">
        <a href="{{ this.link }}">
          <div class="resultcard resultcard--related {{#if type}}resultcard--{{ this.type }}{{/if}}">
            <figure class="resultcard__figure">
              {{#if this.figure}}<img src="{{ this.figure }}" /> {{/if}}
            </figure>
            <div class="resultcard__info">
              <h4 class="resultcard__title">{{this.attributes.summary_title}}</h4>
            </div>
          </div>
        </a>
      </div>
    {{/each}}

    <div class="columns">
      <a href="/search/documents?q={{this.title}}" class="see-more">See more</a>
    </div>

  </div>
</section>
