<section class="record-top section">
  <div class="o-container">

    <h1 class="record-top__title">{{#if level}}{{> global/icon i=level}}{{else}}{{> global/icon i=type}}{{/if}}
      {{normalise title this}} {{#ifpage 'person'}} <span class="record-top__date">{{date}}</span>{{/ifpage}}</h1>

    <div class="c-property-list">
      {{#if parent }}
      <dl class="fact-Made">
        <dt>PART OF:</dt>
        <dd>
          <a href="{{parent.links.self}}">{{parent.attributes.summary.title}}</a>
        </dd>
      </dl>
      {{/if}}
      {{#each fact}}
      <dl class="fact-{{classname this.key}}">
        <dt>{{ this.key }}:</dt>
        <dd>
          {{#if this.makers}}
          {{#each this.makers}}
          {{#if this.link }}<a href="{{this.link}}">{{this.value}}</a>{{else}}{{this.value}}{{/if}}{{comma
        this ../this.makers true}}
          {{/each}}
          {{/if}}
          {{#isequal this.key 'Made' this}}

          {{#if this.date.value}}
          {{#if this.date.link }}<a href="{{this.date.link}}">{{/if}}
            {{ this.date.value }}
            {{#if this.date.link }}</a>{{/if}}
          {{/if}}

          {{#if this.date.value}}
          {{#if this.place}}
          in
          {{/if}}
          {{/if}}

          {{#each (dedupe this.place)}}
          <a href="{{link}}">{{ value }}</a>{{comma this ../this.place true}}
          {{/each}}

          {{else}}

          {{#each this.value}}
          {{#if this.link }}<a href="{{this.link}}">{{ this.value }}</a>{{else}}{{ this.value }}{{/if}}
          {{else}}
          {{#if this.link }}<a href="{{this.link}}">{{ this.value }}</a>{{else}}{{ this.value }}{{/if}}
          {{/each}}

          {{/isequal}}
        </dd>
      </dl>
      {{/each}}
    </div>
  </div>
</section>
