<!-- <div class="panel panel__text">
  <h2>Related Records (Beta)</h2>
  <div class="museum-articles">
    <h3>Objects</h3>
    <ul class="related-article">
      {{#each aiRelated.records.objects}}
      <li>
        {{> global/icon }}
        <a href={{this.url}}>
          {{this.title}}
        </a>
      </li>
      {{/each}}
    </ul>
    <h3>Documents</h3>
    <ul class="related-article">
      {{#each aiRelated.records.documents}}
      <li>
        {{> global/icon }}
        <a href={{this.url}}>
          {{this.title}}
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
</div> -->