<article class="resultcard resultcard--{{this.record.record.data.type}}" id="part{{uid}}"> {{log this}}
  {{>records/record-sph-images }}

  <div class="resultcard__info o-blocks --rem">
    <h3 class="resultcard__title">
      {{title}}
    </h3>

    {{#if (sphDescription description "initialDescription")}}
    {{#each (sphDescription description "initialDescription") }}
    <p>
      {{this}}
    </p>
    {{/each}}
    {{/if}}
    {{#if (sphDescription description "moreDescription")}}
    <details class="c-truncated">
      <summary>More</summary>
      {{#each (sphDescription description "moreDescription")}}
      <p>
        {{this}}
      </p>
      {{/each}}
    </details>
    {{/if}}

    {{>records/record-sph-properties }}
  </div>

</article>

{{#each children}}
{{> records/record-sph-item record=. }}
{{/each}}