      <div class="panel panel__text">
        <h2>Related people</h4>
        <ul class="related-people">
          {{#each related.people}}
            <li>
              {{> global/icon i="people" }}
              {{#if this.links}}
                <a href={{this.links.self}}>
              {{/if}}
              {{this.attributes.summary.title}}
              {{#if this.links}}
                </a>
              {{/if}}
              {{#if this.attributes.role}}
                ({{this.attributes.role.value}})
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
