<section class="mph-records o-container">
  <div class="mph-records__grid">
    {{#each (getMphCapacity childRecords 0 25)}}
    {{#if links}}
    <a href={{links.self}}>
      <article class="resultcard resultcard--objects mph-records__resultcard resultcard--priority-card">

        <figure class="resultcard__figure">
          {{#if images}}
          {{#if (twoChildRecords ../childRecords)}}
          <img src="{{firstImage images 0 'large' }}" class="" alt="{{title}}" />

          {{else}}
          <img src="{{firstImage images 0 'card' }}" class="" alt="{{title}}" />
          {{/if }}
          {{/if }}

        </figure>

        <div class="resultcard__info">

          <h3 class="resultcard__title">
            {{title}}
          </h3>

          {{#if creation}}
          <p class="mph-records__creation">{{creation}}</p>
          {{/if}}

        </div>
      </article>

    </a>
    {{/if}}
    {{/each}}

    {{#if (mphShowMore (getMphCapacity childRecords 0 25) counts)}}
    <a href="/search/objects/mphc/{{uid}}">
      <article class="resultcard mph-records__resultcard resultcard--seemore resultcard--objects">
        <figure class="resultcard__figure">{{> global/icon i="search" size="48" }}</figure>
        <div class="resultcard__info">
          <h3 class="resultcard__title">See more</h3>
        </div>
      </article>
    </a>
    {{/if}}

  </div>
</section>