{{#unless inProduction}}
<section class="panel panel__text" style="border: 6px solid #e3f542">
    {{#if wikiData.image}}
    <div class="panel" style="margin-bottom: 10px">

        <img id="wikiImage" class="bleed" src="{{wikiData.image}}">
    </div>
    {{/if}}
    <header>
        <h2>Wikidata Information</h2>
    </header>
    {{#each (wikiInfoTransform wikiData.info)}}
    {{#if (isArray this.value.value)}}
    {{#unless (wikidataExcludeField this.value)}}
    <article class="property">
        <h3>{{this.value.label}}</h3>
        <ul>
            {{#each this.value.value}}
            <li>
                {{#if this.related}}
                <a href="{{this.related}}">
                    {{this.value}}
                </a>
                {{else}}
                {{this.value}}
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </article>
    {{/unless}}
    {{/if}}
    {{/each}}
</section>
{{/unless}}