{{#unless inProduction}}
<div class="panel panel__text">
    <h2>Wikidata Information</h4>
        <ul class="related-people">
        </ul>
        {{#each (wikiInfoTransform info)}}
        <div class="property">

            {{#if (isArray this.value)}}
            {{#unless (wikidataExcludeField this.value)}}
            <span>{{this.value.label}}</span>

            {{#each this.value}}
            <span>{{this.value}}</span>
            {{/each}}
            {{/unless}}
            {{else}}
            {{#unless (wikidataExcludeField this.value)}}

            <span>{{this.value.label}}</span>
            {{this.value.value}}
            {{/unless}}
            {{/if}}
        </div>
        {{/each}}
</div>
{{/unless}}