{{#unless inProduction}}
<section class="panel panel__text">
    <header>
        <h2>Wikidata Information</h2>
    </header>
    {{#each (wikiInfoTransform info)}}
    {{#if (isArray this.value.value)}}
    {{#unless (wikidataExcludeField this.value)}}
    <article class="property">
        <h3>{{this.value.label}}</h3>
        <ul>
            {{#each this.value.value}}
            <li>
                {{#if this.related}}
                <a href="{{this.related}}">
                    {{this.value}}
                </a>
                {{else}}
                {{this.value}}
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </article>
    {{/unless}}
    {{/if}}
    {{/each}}
</section>
{{/unless}}