<!-- CATEGGORY -->
<div class="filter filter--active filter--open" data-filter="Category">
  <a class="filter__name">Category</a>
  <div class="filter__options">
    <ul>
      {{#each filters.category}}
        <li><label><input type="checkbox" class="filter__box" name="filter[categories]" value="{{value}}" {{isselected ../selectedFilters "filter[categories]" value}}/>{{value}}<span class="filter__count">{{count}}</span></label></li>
      {{/each}}
    </ul>
  </div>
</div>


<!-- DATE -->
<div class="filter filter--open">
  <a class="filter__name">Date</a>
  <div class="filter__options filter__daterange">
    <label>From <input type="number" placeholder="1600" name="filter[date[from]]" value="{{lookup selectedFilters "dateFrom"}}"/></label>
    <label>To <input type="number" placeholder="2016" name="filter[date[to]]" value="{{lookup selectedFilters "dateTo"}}"/></label>
  </div>
</div>

<!-- MAKER -->

<div class="filter filter--active filter--open" data-filter="Maker">
  <a class="filter__name">Maker</a>
  <div class="filter__options">
    <ul>
      {{#each filters.maker}}
        <li><label><input type="checkbox" class="filter__box" name="filter[makers]" value="{{value}}" {{isselected ../selectedFilters "filter[makers]" value}}/>{{value}}<span class="filter__count">{{count}}</span></label></li>
      {{/each}}
    </ul>
  </div>
</div>

<!-- ON DISPLAY -->

<!-- TYPE -->
<div class="filter filter--active filter--open" data-filter="Type">
  <a class="filter__name">Object type</a>
  <div class="filter__options">
    <ul>
      {{#each filters.type}}
        <li><label><input type="checkbox" class="filter__box" name="filter[type]" value="{{value}}" {{isselected ../selectedFilters "filter[type]" value}}/>{{value}}<span class="filter__count">{{count}}</span></label></li>
      {{/each}}
    </ul>
  </div>
</div>

<!-- PLACE -->
<div class="filter filter--active filter--open" data-filter="Place">
  <a class="filter__name">Place</a>
  <div class="filter__options">
    <ul>
      {{#each filters.place}}
        <li><label><input type="checkbox" class="filter__box" name="filter[places]" value="{{value}}" {{isselected ../selectedFilters "filter[places]" value}}/>{{value}}<span class="filter__count">{{count}}</span></label></li>
      {{/each}}
    </ul>
  </div>
</div>

<!-- IMAGE -->

<!-- USER -->
<div class="filter filter--active filter--open" data-filter="User">
  <a class="filter__name">User</a>
  <div class="filter__options">
    <ul>
      {{#each filters.user}}
        <li><label><input type="checkbox" class="filter__box" name="filter[user]" value="{{value}}" {{isselected ../selectedFilters "filter[user]" value}}/>{{value}}<span class="filter__count">{{count}}</span></label></li>
      {{/each}}
    </ul>
  </div>
</div>
