<div class="filterpanel">
  {{#if (clearAllFilters selectedFilters)}}
  <div class="filter filter--active filter--uncollapsible filter--clear">
    <a class="filter__name" href="{{links.clearFilter}}">Clear all filters</a>
  </div>
  {{/if}}
  <form class="" id="search-form" action="/search" method="get">
    <input type="hidden" name="q" value="{{q}}">
    <input type="hidden" name="page[type]" value="{{page}}">
    {{#if isFilterAll}}
      {{> search/filters-all}}
    {{/if}}

    {{#if isFilterPeople}}
      {{> search/filters-people}}
    {{/if}}

    {{#if isFilterDocuments}}
      {{> search/filters-documents}}
    {{/if}}

    {{#if isFilterObjects}}
      {{> search/filters-objects}}
    {{/if}}

    <button class="button filterpanel__button" />filter</button>
  </form>
</div>
