<div class="filterpanel">
  <div class="filter filter--active filter--uncollapsible">
    <a class="filter__name" href="{{links.clearFilter}}">Clear all filters</a>
  </div>
  <form class="" action="/search" method="get">
    <input type="hidden" name="q" value="{{q}}">
    {{#if isFilterAll}}
      {{> search/filters-all}}
    {{/if}}

    {{#if isFilterPeople}}
      {{> search/filters-people}}
    {{/if}}

    {{#if isFilterDocuments}}
      {{> search/filters-documents}}
    {{/if}}

    {{#if isFilterObjects}}
      {{> search/filters-objects}}
    {{/if}}

    <button class="button filterpanel__button" />filter</button>
  </form>
</div>
