      <div class="filterpanel">
        <div class="filter filter--active filter--uncollapsible">
          <a class="filter__name">Clear all filters</a>
        </div>

        <div class="filter filter--active filter--open" data-filter="Category">
          <a class="filter__name">Category</a>
          <div class="filter__options">
            <ul>
              <li><label><input type="checkbox" name="filter1" checked />Archive<span class="filter__count">12</span></label></li>
              <li><label><input type="checkbox" name="filter1" checked />Art<span class="filter__count">573</span></label></li>
              <li><label><input type="checkbox" name="filter1" checked />Computing &amp; Data Processing<span class="filter__count">83</span></label></li>
              <li><label><input type="checkbox" name="filter1" />Temporary Exhibitions <span class="filter__count">83</span></label></li>
              <li><label><input type="checkbox" name="filter1" />Photographs <span class="filter__count">3</span></label></li>
            </ul>
          </div>
        </div>

        <div class="filter filter--active filter--open" data-filter="Maker">
          <a class="filter__name">Maker</a>
          <div class="filter__options">
            <ul>
              <li><label><input type="checkbox" name="filter2" checked />Charles Babbage<span class="filter__count">312</span></label></li>
              <li><label><input type="checkbox" name="filter2" checked />Felkin, William<span class="filter__count">1</span></label></li>
              <li><label><input type="checkbox" name="filter2" />Laurence, Samuel<span class="filter__count">1</span></label></li>
              <li><label><input type="checkbox" name="filter2" />Lovelace, Ada<span class="filter__count">12</span></label></li>
              <li><label><input type="checkbox" name="filter2" />Science Museum, Workshops<span class="filter__count">2</span></label></li>
              <li><label><input type="checkbox" name="filter2" checked />Unattributed<span class="filter__count">7</span></label></li>
            </ul>
          </div>
        </div>
        
        <div class="filter">
          <a class="filter__name">Location</a>
          <div class="filter__options">
            <ul>
              <li><label><input type="checkbox" name="filter2" />Science Museum, Blythe House<span class="filter__count">8</span></label></li>
              <li><label><input type="checkbox" name="filter2" />Science Museum Library and Archives, Wroughton<span class="filter__count">123</span></label></li>
              <li><label><input type="checkbox" name="filter2" />[Archive box reference]<span class="filter__count">123</span></label></li>
            </ul>
          </div>
        </div>
        <div class="filter">
          <a class="filter__name">Filter name</a>
          <div class="filter__options">
            <ul>
              <li><label><input type="checkbox" name="filter2" />option label 1<span class="filter__count">123</span></label></li>
              <li><label><input type="checkbox" name="filter2" />option label 2<span class="filter__count">123</span></label></li>
              <li><label><input type="checkbox" name="filter2" />option label 3<span class="filter__count">123</span></label></li>
            </ul>
          </div>
        </div>
        <div class="filter">
          <a class="filter__name">Filter name</a>
          <div class="filter__options">
            <ul>
              <li><label><input type="checkbox" />option label1<span class="filter__count">123</span></label></li>
              <li><label><input type="checkbox" />option label 2<span class="filter__count">123</span></label></li>
              <li><label><input type="checkbox" />option label 3<span class="filter__count">123</span></label></li>
            </ul>
          </div>
        </div>
        <div class="filter filter--open">
          <a class="filter__name">Date range</a>
          <div class="filter__options filter__daterange">
            <label>From <input type="number" min="1600" max="2016" placeholder="1600" /></label>
            <label>To <input type="number" min="1600" max="2016" placeholder="2016" /></label>
          </div>
        </div>
      </div>
