<input type="hidden" name="fields[type]" value="people">

<div class="filter filter--open">
  <a href="{{lookup links.clearFacet "dates"}}" class="filter__name">Date (born / died)</a>
  <div class="filter__options filter__daterange">
    <label>From <input type="number" placeholder="1600" name="filter[birth[date]]" value="{{lookup selectedFilters "birthDate"}}"/></label>
    <label>To <input type="number" placeholder="2016" name="filter[death[date]]" value="{{lookup selectedFilters "deathDate"}}"/></label>
  </div>
</div>

{{#if filters.occupation.length}}
  <div class="filter filter--active filter--open" data-filter="Occupation">
    <a href="{{lookup links.clearFacet "filter[occupation]"}}" class="filter__name">Occupation</a>
    <div class="filter__options">
      <ul>
        {{#each filters.occupation}}
          <li><label><input type="checkbox" class="filter__box" name="filter[occupation]" value="{{value}}" {{isselected ../selectedFilters "occupation" value}}/>{{value}}<span class="filter__count">{{count}}</span></label></li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}

{{#if filters.place_born.length}}
  <div class="filter filter--active filter--open" data-filter="Place born">
    <a href="{{lookup links.clearFacet "filter[birth[place]]"}}" class="filter__name">Place born</a>
    <div class="filter__options">
      <ul>
        {{#each filters.place_born}}
          <li><label><input type="checkbox" class="filter__box" name="filter[birth[place]]" value="{{value}}" {{isselected ../selectedFilters "birthPlace" value}}/>{{value}}<span class="filter__count">{{count}}</span></label></li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}

{{#if filters.organisation}}
  <div class="filter filter--active filter--open" data-filter="Organisation">
    <a href="{{lookup links.clearFacet "filter[organisations]"}}" class="filter__name">Organisation / Person</a>
    <div class="filter__options">
      <ul>
        {{#each filters.organisation}}
          <li><label><input type="checkbox" class="filter__box" name="filter[organisations]" value="{{value}}" {{isselected ../selectedFilters "organisations" value}}/>{{value}}<span class="filter__count">{{count}}</span></label></li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
