<div class="o-flex-container controls">

  <div class="control control--rpp">
    <label class="control__label">Results<span class="hide-for-small-only"> per page</span>:</label>
    <select class="c-select">
      <option{{#if pagination.isPageSize50}} selected{{/if}}>50</option>
        <option{{#if pagination.isPageSize100}} selected{{/if}}>100</option>
    </select>
  </div>
  <div class="c-pagination">
    <nav class="c-pagination__links" aria-label="Pagination">
      {{#if pagination.isFirst}}
      {{else}}
      <a class="c-pagination__page c-pagination__page--prev" href="{{pagination.links.prev}}"><span class="u-icon"><svg>
            <use xlink:href="/assets/icons/symbol/svg/sprite.symbol.svg#arrow_left" />
          </svg></span>Previous</a>
      {{/if}}
      {{#each pagination.links.pages}}
      {{#if this}}
      {{#if this.isCurrent}}
      <span aria-current="page" class="c-pagination__page"><span class="u-visually-hidden">You're on page</span>
        {{this.pageNumberDisplay}}</span>
      {{else}}
      <a class="c-pagination__page" href="#{{this.pageNumberDisplay}}">{{this.pageNumberDisplay}}</a>
      {{/if}}
      {{else}}
      <span class="c-pagination__page c-pagination__ellipsis"></span>
      {{/if}}
      {{/each}}
      {{#if pagination.isLast}}
      {{else}}
      <a class="c-pagination__page--next c-pagination__page" href="{{pagination.links.next}}">Next<span
          class="u-icon"><svg>
            <use xlink:href="/assets/icons/symbol/svg/sprite.symbol.svg#arrow_right" />
          </svg></span></a>
      {{/if}}
    </nav>
  </div>
</div>