//colors mapped to recordtypes for quick changes, and for for loops
$recordtypes: (
  objects: (bg: $c-teal,
    grad: $c-green $c-blue $c-teal,
  ),
  people: (bg: $c-orange,
    grad: $c-orange $c-red $c-purple,
  ),
  collection: (bg: $c-blue,
    grad: $c-teal $c-blue $c-purple,
  ),
  all: (bg: $c-blue,
    grad: $c-teal $c-blue $c-purple,
  ),
  documents: (bg: $c-purple,
    grad: $c-red $c-purple $c-blue,
  ),
  archive: (bg: $c-purple,
    grad: $c-red $c-purple $c-blue,
  ),
  archivedoc: (bg: $c-purple,
    grad: $c-red $c-purple $c-blue,
  ),

  group: (bg: $c-green,
    grad: $c-green $c-teal $c-blue,
  ),
);