
// then our stuff

body {
  background-color: grey(10);
}

p,
li,
dt,
dd {
  font-size: rem-calc(18);
}

h4 {
  text-transform: uppercase;
}

abbr {
  @include small-caps;
  border: 0;
  color: inherit;
}

button {
  font-size: rem-calc(18);

  .icon {
    position: relative;
    //@include vertical-center;
    //top: rem-calc(2);
    //left: rem-calc(-2);
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.globalheader {
  background-color: black;

  &__museumlink {
    @include grid-column(3);
    & + & { // all except first
      border-left: 1px grey(50) solid;
    }
    img {
      display: block;
      margin: 0 auto;
      max-height: rem-calc(88);
    }
  }
}

.globalfooter {
  background-color: black;
  color: grey(50);
  padding: 1rem 0;
  text-align: center;

  &__logo {
    @include breakpoint(medium up) { float: left; }
  }

  ul {
    margin-top: 1rem;
  }

  a {
    color: white;
  }
}

.sitefooter {
  background-color: grey(20);
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: rem-calc(14);

  .columns {
    padding-bottom: 1rem;
  }

  &__h {
    margin: 0;
    font-size: rem-calc(18);
    text-transform: uppercase;
  }

  a {
    @include text-link;
    color: black;
  }
}

.white { //section
  background: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ul-piped {
  margin: 0;

  li {
    display: inline-block;
    border-right: 1px solid;
    line-height: 1;
    padding: rem-calc(0 12 0 9);
    &:last-child { border-right: 0; }
    &:first-child { padding-left: 0; }
  }
}

.ul-block {
  margin: 0 0 1rem 0;
  &:last-child { margin: 0; } // only bottom margin if something is following it

  li {
    display: block;
    line-height: 1.25;
  }

  li+ li { margin-top: rem-calc(4); }
}

.ul-icons {
  @include ul-icons;
}

//-----------------------------------------------------------------------------
// .searchlink
// can be applied to any anchor to indicate it will take you to search results
//-----------------------------------------------------------------------------

.searchlink {
  $icnsize: 0.75em;
  position: relative;
  margin-right: $icnsize;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    right: -$icnsize+(-$icnsize/4);
    top: 0;
    bottom: 0;
    margin: auto; // top, bottom, height, auto = vertical align!
    height: $icnsize;
    width: $icnsize;
    background-image: url(/assets/icons/search.svg);
    background-size: $icnsize $icnsize;
    opacity: 0.2;
  }
  &:hover:after {
    opacity: 1;
  }
}

//utility classes:

.bleed { //probably for img
  width: 100%;
  max-width: auto;
}
//debug tool
.grid-overlay {
  display: none; //or not
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(pink, 0.2);

  .column,
  .columns {
    background: rgba(pink, 0.2);
    height: 100%;
  }

  .contents {
    background: rgba(pink, 0.5);
    height: 100%;
  }
}
