// then our stuff

body {
  background-color: white;
}

p,
li,
dt,
dd {
  font-size: rem-calc(18);
}

h2,
h4 {
  text-transform: uppercase;
}

abbr {
  @include small-caps;
  border: 0;
  color: inherit;
}

button {
  font-size: rem-calc(18);

  .icon {
    position: relative;
    //@include vertical-center;
    //top: rem-calc(2);
    //left: rem-calc(-2);
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.globalheader {
  background-color: black;

  &__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  img {
    display: block;
    height: 1.5rem;
    max-width: none;
    margin: 1em 0;

    @include breakpoint(360) {
      height: 2rem;
      margin: 1.5em 0;
    }
    @include breakpoint(medium up) {
      height: 3rem;
    }
    @include breakpoint(large up) {
      height: 4rem;
    }
  }
}

.globalfooter {
  @include sm-gradient($c-teal $c-blue $c-purple);
  color: white;
  padding: 1rem 0;
  @include breakpoint(medium up) {
    padding: 2rem 0;
  }
  @include breakpoint(large up) {
    padding: 3rem 0;
  }

  a {
    color: inherit;
  }

  &__strap {
    margin-bottom: 1rem;
    text-transform: uppercase;
    @include breakpoint(medium up) {
      margin-bottom: 2rem;
    }
    @include breakpoint(large up) {
      margin-bottom: 3rem;
    }
  }

  &__items {
    @include breakpoint(medium up) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
    margin-top: 1rem;
  }

  &__items a:hover {
    text-decoration: underline;
  }

  &__text {
    display: block;
    margin: 0.4rem 0;

    @include breakpoint(medium up) {
      display: none;
    }
  }

  img,
  svg {
    display: none;
    height: 3rem;
    width: auto;
    max-width: none;

    @include breakpoint(medium up) {
      display: block;
    }
    @include breakpoint(large up) {
      height: 4rem;
    }
  }
}

.sitefooter {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: rem-calc(14);

  .columns {
    padding-bottom: 1rem;
  }

  &__h {
    margin: 0;
    font-size: rem-calc(16);
    text-transform: uppercase;
  }

  li {
    font-size: 1rem;
  }

  a {
    @include text-link;
    color: grey(80);
  }
}

.white {
  //section
  background: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ul-piped {
  margin: 0;

  li {
    display: inline-block;
    border-right: 1px solid;
    line-height: 1;
    padding: rem-calc(0 12 0 9);
    &:last-child {
      border-right: 0;
    }
    &:first-child {
      padding-left: 0;
    }
  }
}

.ul-block {
  margin: 0 0 1rem 0;
  &:last-child {
    margin: 0;
  } // only bottom margin if something is following it

  li {
    display: block;
    line-height: 1.25;
  }

  li + li {
    margin-top: rem-calc(4);
  }
}

.ul-icons {
  @include ul-icons;
}

//-----------------------------------------------------------------------------
// .searchlink
// can be applied to any anchor to indicate it will take you to search results
//-----------------------------------------------------------------------------

.searchlink {
  $icnsize: 0.75em;
  position: relative;
  margin-right: $icnsize;
  &:after {
    content: " ";
    display: block;
    position: absolute;
    right: -$icnsize+(-$icnsize/4);
    top: 0;
    bottom: 0;
    margin: auto; // top, bottom, height, auto = vertical align!
    height: $icnsize;
    width: $icnsize;
    background-image: url(/assets/icons/search.svg);
    background-size: $icnsize $icnsize;
    opacity: 0.2;
  }
  &:hover:after {
    opacity: 1;
  }
}

//utility classes:

.bleed {
  //probably for img
  width: 100%;
  max-width: auto;
}
//debug tool
.grid-overlay {
  display: none; //or not
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(pink, 0.2);

  .column,
  .columns {
    background: rgba(pink, 0.2);
    height: 100%;
  }

  .contents {
    background: rgba(pink, 0.5);
    height: 100%;
  }
}
