// then our stuff
:root {
  --smg-link-color: #{$c-blue};
}

body {
  background-color: white;
  font-weight: 300; // other SMG sites appear to map the Light weight to normal/400? Either way, most text elements are better defaulted to the Light font.
}

:focus-visible {
  box-shadow: 0 0 0 5px $focus-color !important;
  outline: none;
  z-index: 1; // should help to get outline foremost, but may require more, and still subject to overflow clipping
}

svg a:focus-visible {
  // no box-shadow on svg elements
  outline: 5px $focus-color solid;
  outline-offset: -5px;
}

p,
li,
dt,
dd {
  font-size: rem(18);
}

h2,
h4 {
  text-transform: uppercase;
}

abbr {
  @include small-caps;
  border: 0;
  color: inherit;
}

button {
  font-size: rem(18);

  .icon {
    position: relative;
    //@include vertical-center;
    //top: rem(2);
    //left: rem(-2);
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.section {
  //section
  // background: white;
  padding-block: $grid-gutter;


  &__h {
    margin-top: 0;
    font-size: clamp-between(1.5rem, 2.5rem);
  }

  &__content {
    @include textstyles;
  }

  &.--spacious {
    padding-block: clamp-between(2rem, 4rem); // double
  }
}

.record-top + .section {
  padding-top: 0; //collapse
}

.ul-block {
  margin: 0 0 1rem 0;

  &:last-child {
    margin: 0;
  }

  // only bottom margin if something is following it

  li {
    display: block;
    line-height: 1.25;
  }

  li + li {
    margin-top: rem(4);
  }
}

.ul-icons {
  @include ul-icons;
}

//-----------------------------------------------------------------------------
// .searchlink
// can be applied to any anchor to indicate it will take you to search results
//-----------------------------------------------------------------------------

.searchlink {
  $icnsize: 0.75em;
  position: relative;
  margin-right: $icnsize;

  &:after {
    content: ' ';
    display: block;
    position: absolute;
    right: -$icnsize + ($icnsize * -0.25);
    top: 0;
    bottom: 0;
    margin: auto; // top, bottom, height, auto = vertical align!
    height: $icnsize;
    width: $icnsize;
    background-image: url(/assets/icons/search.svg);
    background-size: $icnsize $icnsize;
    opacity: 0.2;
  }

  &:hover:after {
    opacity: 1;
  }
}

//utility classes:

.bleed {
  //probably for img
  width: 100%;
  max-width: auto;
}