//-----------------------------------------------------------------------------
// .row
// ↳ .searchresults & .filtercolumn - are both quasi-columns,
// with filtercolumn collapsing to positioned or hidden states
//-----------------------------------------------------------------------------

.searchresults {
  @include flexcards-container;
  padding: 0;
  margin: 0 !important;
  position: relative;

  &__column {
    @include flexcards-item;
    @include grid-column(6);
    @include media(">=medium") {
      @include grid-column(4);
    }
    @include media(">=large") {
      @include grid-column(3);
    }
  }

  &__list {
    @include grid-column;
  }

  &--filtersactive {
    @include media(">=medium") {
      @include grid-col-size(8);
    }
    @include media(">=large") {
      @include grid-col-size(9);
    }

    .searchresults__column {
      @include media(">=medium") {
        @include grid-column(6);
        @include grid-column-end;
      }
      @include media(">=large") {
        @include grid-column(4);
        @include grid-column-end;
      }
    }
  }
}

.filtercolumn {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  display: none;

  &--filtersactive {
    display: block;
  }
  // positioned on top for small screens, col on right for larger
  @include media("<=small") {
    position: absolute;
    z-index: 1;
    right: 1rem;
    left: 1rem;
    padding: 0;
  }
  @include media(">=medium") {
    float: right;
    @include grid-col-size(4);
  }
  @include media(">=large") {
    @include grid-col-size(3);
  }
}
