//-----------------------------------------------------------------------------
// .row
// ↳ .searchresults & .filtercolumn - are both quasi-columns,
// with filtercolumn collapsing to positioned or hidden states
//-----------------------------------------------------------------------------

.l-searchgrid {
  display: grid;
  gap: $grid-gutter;
  margin-block: $grid-gutter;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "ctrl-view ctrl-filters"
    "filters filters"
    "searchresults searchresults";

  @include media(">=medium") {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "ctrl-view ctrl-view ctrl-filters"
      "searchresults searchresults filters";
  }

  @include media(">=large") {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      "ctrl-view ctrl-view ctrl-view ctrl-filters"
      "searchresults searchresults searchresults filters";
  }

}

.control--filters {
  grid-area: ctrl-filters;
}

.control--view {
  grid-area: ctrl-view;
  margin-right: auto;
}

.searchresults {

  grid-column-start: searchresults;
  grid-column-end: filters;
  padding: 0;
  margin: 0 !important;
  position: relative;
  display: grid;
  gap: $grid-gutter;
  grid-template-columns: repeat(2, 1fr);

  @include media(">=medium") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media(">=large") {
    grid-template-columns: repeat(4, 1fr);
  }

  &--filtersactive {
    grid-area: searchresults;

    @include media(">=medium") {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(">=large") {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--list {
    grid-template-columns: 1fr;
  }
}

.filtercolumn {
  grid-area: filters;
  position: relative;
  display: none;

  &--filtersactive {
    display: block;
  }

  // positioned on top for small screens, col on right for larger
  @include media("<=small") {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    padding: 0;
  }
}