//-----------------------------------------------------------------------------
// Print rules, hide the nav etc.
//-----------------------------------------------------------------------------

@media print {
  .c-masthead,
  .searchbox,
  .searchbar,
  .searchtabs,
  .sitefooter,
  .globalfooter,
  .record-related {
    display: none;
  }

  // Don't 'Display the URL of a link after the text, like foundation is want to do. nice idea but this site is too linky.
  a[href]:after {
    content: "" !important;
  }

  //images:
  .record-imgpanel {
    background-color: transparent !important;

    &__thumbs,
    &__controlbar,
    button,
    .carousel__image {
      display: none !important;
    }

    // but do show the main image inside it:
    .carousel__image.is-selected {
      display: block !important;
      opacity: 1;
      left: 0 !important;
    }
    .flickity-slider {
      transform: translateX(0) !important;
    }
  }

  .record-details {
    background-color: transparent !important;
    border-top: 1px solid black;
  }

  .panel {
    background-color: transparent !important;
    border: 1px solid black;
  }
}
