$fonts: (
  ('Thin', 100, normal),
  ('ThinItalic', 100, italic),
  ('Light', 300, normal),
  ('LightItalic', 300, italic),
  ('Regular', normal, normal),
  ('RegularItalic', normal, italic),
  ('Medium', 500, normal),
  ('MediumItalic', 500, italic),
  ('Bold', 700, normal),
  ('BoldItalic', 700, italic),
  ('Fat', 900, normal)
);

$font-path: '//s3-eu-west-1.amazonaws.com/scimus/tmp'; // replace with proper CDN!!

@each $f in $fonts {
  @font-face {
    font-family: 'SMGSans';
    // src: url('../fonts/copy-#{nth($f,1)}-web.woff') format('woff');
    src: url('#{$font-path}/SMGSans-#{nth($f,1)}.woff') format('woff');
    font-weight: #{nth($f, 2)};
    font-style: #{nth($f, 3)};
  }
}

// font-family declared universally in _foundation-settings.scss
