
$fonts: (
  ("light", 300, normal),
  ("lightitalic", 300, italic),
  ("regular", normal, normal),
  ("italic", normal, italic),
  ("medium", 500, normal),
  ("mediumitalic", 500, italic),
  ("bold", 600, normal),
  ("bolditalic", 600, italic),
  ("black", 900, normal),
  ("blackitalic", 900, italic)
);

@each $f in $fonts {

  @font-face {
    font-family: 'sm-din';
    src: url('/assets/fonts/sm-din-#{nth($f,1)}.woff2') format('woff2'),
         url('/assets/fonts/sm-din-#{nth($f,1)}.woff') format('woff');
    font-weight: #{nth($f,2)};
    font-style: #{nth($f,3)};
  }

}

// font-family declared universally in _foundation-settings.scss
