<header class="c-masthead" aria-label="main navigation">
  <nav class="o-flex-container">
    {{!--
    <a href="https://group.sciencemuseum.org.uk/" class="c-masthead__logo">
      <img src="/assets/img/global/smg-logo.svg" alt="Science Museum Group" width="118" height="71">
    </a>
    --}}
    <b class="c-masthead__logo">
      <img src="/assets/img/global/smg-logo.svg" alt="Science Museum Group" width="118" height="71">
    </b>
    <a href="#" id="skip-link" class="c-masthead__skip-link c-btn" aria-label="skip to main content">Skip to
      main
      content</a>
    <div class="c-masthead__right c-menu">
      <button class="c-menu__button" aria-controls="mobile-menu" aria-expanded="false">Collection</button>
      {{> global/menu class="c-menu--global" items=navigation.global}}
    </div>
  </nav>
</header>
<header class="c-nav-site" aria-label="collections sub-navigation">
  <nav class="o-flex-container">
    <h1 class="c-nav-site__title"><a href="/" target="_self" aria-label="Home page">Collection</a></h1>
    <div class="c-nav-site__right c-menu">
      <nav class="c-menu__nav" aria-expanded="false">
        {{> global/menu class="c-menu--site" items=navigation.site}}
      </nav>
    </div>
  </nav>
</header>
<header class="c-nav-mobile" id="mobile-menu" aria-expanded="false" aria-label="mobile navigation">
  <nav class="c-menu {{class}}">
    {{> global/menu class="c-menu--site" items=navigation.site}}
    {{> global/menu class="c-menu--global" items=navigation.global}}
  </nav>

</header>