<header class="globalheader">
  <div class="betabar">
    <div class="row columns">
      <span class="title">Beta</span> - <small>This site is still being tested and improved</small>
    </div>
  </div>
  <div class="row">
    <a href="//www.sciencemuseum.org.uk/" class="globalheader__museumlink"><img src="/assets/img/global/logo-scm.svg" alt="Science Museum" /></a>
    <a href="//www.nrm.org.uk/" class="globalheader__museumlink"><img src="/assets/img/global/logo-nrm.svg" alt="Science Museum" /></a>
    <a href="//www.nationalmediamuseum.org.uk/" class="globalheader__museumlink"><img src="/assets/img/global/logo-nmm.svg" alt="Science Museum" /></a>
    <a href="//msimanchester.org.uk/" class="globalheader__museumlink"><img src="/assets/img/global/logo-msi.svg" alt="Science Museum" /></a>
  </div>
</header>
