<footer class="sitefooter">
  <div class="row">
    <div class="small-6 medium-3 columns">
      <ul class="ul-block">
        <li><h6 class="sitefooter__h"><a href="#">Our collection</a></h6></li>
        <li><a href="#">About the collection</a></li>
        <li><a href="#">Search the collection</a></li>
        <li><a href="#">What is online?</a></li>
      </ul>
    </div>
    <div class="small-6 medium-3 columns">
      <ul class="ul-block">
        <li><h6 class="sitefooter__h"><a href="#">Library and archive</a></h6></li>
        <li><a href="#">Archive catalogue</a></li>
        <li><a href="#">Library catalogue</a></li>
        <li><a href="#">Visit the Archive</a></li>
      </ul>
    </div>
    <div class="small-6 medium-3 columns">
      <ul class="ul-block">
        <li><h6 class="sitefooter__h"><a href="#">Collection data </a></h6></li>
        <li><a href="#">Usage the data</a></li>
        <li><a href="#">Our API</a></li>
        <li><a href="#">Digital Lab</a></li>
      </ul>
    </div>
    <div class="small-6 medium-3 columns">
      <ul class="ul-block">
        <li><h6 class="sitefooter__h"><a href="#">Images</a></h6></li>
        <li><a href="#">Print on Demand</a></li>
        <li><a href="#">Non Commercial Use</a></li>
        <li><a href="#">Commercial use / Image Licencing</a></li>
      </ul>
    </div>
  </div>
</footer>

<footer class="globalfooter" role="banner">
  <div class="row">
    <div class="columns">
      <a href="" class="globalfooter__logo"><img src="/assets/img/global/logo-smg.svg" alt="Science Museum Group" /></a>
    <ul class="ul-piped">
      <li><a href="#">About the Science Museum Group</a></li>
      <li><a href="#">Privacy and Cookies</a></li>
      <li><a href="#">Terms of use</a></li>
      <li><a href="#">Copyright and licensing</a></li>
    </ul>

    </div>
  </div> 
</footer>