<header class="globalheader">
  <div class="row">
    <a href="http://www.sciencemuseum.org.uk/" class="globalheader__museumlink"><img src="/assets/img/global/logo-scm.svg" alt="Science Museum" /></a>
    <a href="http://www.nrm.org.uk/" class="globalheader__museumlink"><img src="/assets/img/global/logo-nrm.svg" alt="National Railway Museum" /></a>
    <a href="https://www.scienceandmediamuseum.org.uk/" class="globalheader__museumlink"><img src="/assets/img/global/logo-nmm.svg" alt="National Science and Media Museum" /></a>
    <a href="http://msimanchester.org.uk/" class="globalheader__museumlink"><img src="/assets/img/global/logo-msi.svg" alt="Museum of Science and Industry" /></a>
  </div>
</header>
