<ul class="c-menu__list {{class}}">
  {{#each items}}
  {{#if items}}
  <li class="c-menu__item c-menu__item--has-children" aria-haspopup="true">
    <a href="{{url}}">{{name}}</a>
    <button aria-expanded="false" aria-label="Expand Visit us menu" class="c-menu__toggle">
      <span class="screen-readers">Expand child
        menu</span>
    </button>
    <ul class="c-menu__submenu {{../gradient}}" aria-expanded="false">
      {{#each items}}
      <li class="c-menu__item"><a href="{{url}}" target="_self">{{name}}</a></li>
      {{/each}}
    </ul>
  </li>
  {{else}}
  <li class="c-menu__item"><a href="{{url}}" target="_self" {{#if current}}aria-current="true" {{/if}}>{{name}}</a></li>
  {{/if}}
  {{/each}}
</ul>