<label for="searchbox__search" class="searchbar__placeholder-for-small hide-for-medium">Search objects, people, categories, object numbers etc.</label>
<form class="searchbox" id="searchbox" action="/search">
  <input type="search" class="searchbox__search" placeholder="Search objects, people, categories, object numbers etc." name="q" value="{{q}}">
  <button aria-label="search" class="searchbox__submit">
    {{> global/icon i="search" size="32" }}
  </button>

  {{#if filters}}
    <div class="searchbox__filters">

      <span class="searchbox__filtersplainer">Searching within</span>

      <div class="filterbadge" data-filter="Museum">
        <div class="filterbadge__label">Science Museum</div>
        <a class="filterbadge__x" title="remove">✕</a>
      </div>

      <div class="filterbadge" data-filter="Category">
        <div class="filterbadge__label">Category 1</div>
        <a class="filterbadge__x" title="remove">✕</a>
      </div>

      <div class="filterbadge" data-filter="Category">
        <div class="filterbadge__label">Category 2</div>
        <a class="filterbadge__x" title="remove">✕</a>
      </div>

    </div>
  {{/if}}

</form>
