<a class="searchtab{{#if isFilterAll}} searchtab--active{{/if}}" {{#unless filterAllDisabled}}href="{{links.filterAll}}"
  {{/unless}} {{#if filterAllDisabled}}aria-disabled="true" {{/if}}>
  {{> global/icon i="all" }}
  <span class="searchtab__label">All</span>
  <span class="searchtab__count">{{formatnumber meta.count.type.all}}</span>
</a>
<a class="searchtab{{#if isFilterPeople}} searchtab--active{{/if}}" {{#unless
  filterPeopleDisabled}}href="{{links.filterPeople}}" {{/unless}} {{#if filterPeopleDisabled}}aria-disabled="true"
  {{/if}}>
  {{> global/icon i="people" }}
  <span class="searchtab__label">People</span>
  <span class="searchtab__count">{{formatnumber meta.count.type.people}}</span>
</a>
<a class="searchtab{{#if isFilterObjects}} searchtab--active{{/if}}" {{#unless
  filterObjectsDisabled}}href="{{links.filterObjects}}" {{/unless}} {{#if filterObjectsDisabled}}aria-disabled="true"
  {{/if}}>
  {{> global/icon i="objects" }}
  <span class="searchtab__label">Objects</span>
  <span class="searchtab__count">{{formatnumber meta.count.type.objects}}</span>
</a>
<a class="searchtab{{#if isFilterDocuments}} searchtab--active{{/if}}" {{#unless
  filterDocumentsDisabled}}href="{{links.filterDocuments}}" {{/unless}} {{#if
  filterDocumentsDisabled}}aria-disabled="true" {{/if}}>
  {{> global/icon i="documents" }}
  <span class="searchtab__label">Documents</span>
  <span class="searchtab__count">{{formatnumber meta.count.type.documents}}</span>
</a>
{{#unless inProduction}}
<a class="searchtab{{#if isFilterGroup}} searchtab--active{{/if}}" {{#unless
  filterGroupDisabled}}href="{{links.filterGroup}}" {{/unless}} {{#if filterGroupDisabled}}aria-disabled="true" {{/if}}>
  {{> global/icon i="group" }}
  <span class="searchtab__label">Group</span>
  <span class="searchtab__count">{{formatnumber meta.count.type.group}}</span>
</a>
{{/unless}}