<form class="searchbox" id="searchbox" action="/search">
  <input type="search" class="searchbox__search" placeholder="Search objects, people, categories, object numbers etc." name="q" value="{{q}}">
  <button aria-label="search" class="searchbox__submit">
    {{> global/icon i="search" size="32" }}
  </button>
  {{#if stickyFilters.length}}
    <div class="searchbox__filters">
      <div class="filterbadge--prefix">In</div>
      {{#each categoryFilters}}
      <dl class="filterbadge" data-filter="Category">
        <dt class="filterbadge__key">Category</dt>
        <dd class="filterbadge__label">{{this}}</dd>
        <a class="filterbadge__x" href="{{../links.clearCategoryLink}}" title="remove">✕</a>
        <input type="hidden" class='searchbox__category__filter' name="filter[categories]" value="{{this}}">
      </dl>
      {{/each}}
      {{#each museumFilters}}
      <div class="filterbadge" data-filter="Museum">
        <dt class="filterbadge__key">On display</dt>
        <div class="filterbadge__label">
          {{shortLocation}}
        </div>
        <a class="filterbadge__x" href="{{../links.clearMuseumLink}}" title="remove">✕</a>
        <input type="hidden" class='searchbox__museum__filter' name="filter[museum]" value="{{museum}}">
      </div>
      {{/each}}
      {{#each archiveFilters}}
      <div class="filterbadge" data-filter="Archive">
        <dt class="filterbadge__key">Archive</dt>
        <div class="filterbadge__label">{{this}}</div>
        <a class="filterbadge__x" href="{{../links.clearArchiveLink}}" title="remove">✕</a>
        <input type="hidden" class='searchbox__archive__filter' name="filter[archive]" value="{{this}}">
      </div>
      {{/each}}
    </div>
  {{/if}}
</form>
